@use "globals" as *;

 /* 共通スタイル */
body {
    font-family: "Noto Sans JP", sans-serif;
    font-size: 16px;
}

a {
    text-decoration: none;
}

ul {
    padding-left: 0;
    & li {
        list-style: none;
    }
}

/* レスポンシブ用 */
.pc_hide {
    display: none !important;
    @include mq(lg) {
        display: inline-block !important;
    }
}

.lg_only {
    display: none !important;
    @include mq(lg) {
        display: block !important;
    }
    @include mq(sm) {
        display: none !important;
    }
}
.sm_only {
    display: none !important;
    @include mq(sm) {
        display: block !important;
    }
}

.md_hide {
    @include mq(md) {
        display: none !important;
    }
}


.sp_only {
    display: none;
}
.pc_only {
    display: block;
}
@include mq(md) {
    .sp_only {
        display: block;
    }
    .pc_only {
        display: none;
    }
}


/* header, footerによるずれを解消 */
main {
    padding-top: 140px;
    padding-bottom: 150px;
    @include mq(lg) {
        padding-top: 105px;
    }
    @include mq(md) {
        padding-top: 60px;
    }
    @include mq(sm) {
        padding-bottom: 250px;
    }
}

.container {
    font-family: 'Noto Sans JP', sans-serif;
    background-color: $cWhite;
    color: $cBlack;
    position: relative;
}


/* グラデーションの背景 */
.bg_gradation {
    background: linear-gradient(90deg, #F6D2CC, #F9DECC, #FDECCC);
}



/* header */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10001;

    /* PC用ヘッダー */
    /* PC用白い方のヘッダー */
    & .white{
        background: $cWhite;
        width: 100%;
        & .inner {
            max-width: $headerWidth;
            height: $headerHeight1;
            @include mq(lg) {
                height: $headerHeight1_lg;
            }
            @include mq(md) {
                display: none;
            }
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0 auto;
        }   
    }
    & .left {
        width: 30%;
        height: $headerHeight1;
        position: relative;
        @include mq(lg) {
            height: $headerHeight1_lg;
        }
        & .head_logo {
            & span {
                font-size: 14px;
                font-weight: 700;
                position: absolute;
                top: 15%;
                left: 4%;
                color: #707070;
                @include mq(lg) {
                    font-size: 13px;
                }
                @include mq(sm) {
                    font-size: 10px;
                }
            }
            & img {
                width: 236px;                
                height: 32px;
                position: absolute;
                top: 70%;
                left: 3%;
                transform: translateY(-50%);
                @include mq(lg) {
                    width: 200px;
                }
            }
        }
    }
    & .right {
        width: 70%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        & div {
            margin-left: 7px;
        }
        /* ヘッダー内のグラデーションのボタン */
        & .go_to_contact_button {
            margin: 0 0 0 5px;
            height: 40px;
        }
        & .go_to_reservation_button {
            margin: 0 0 0 5px;
            height: 40px;
        } 
    }
    

    /* PC用グラデーションのヘッダー */
    & .head_grada {
        position: relative;
        @include mq(md) {
            display: none;
        }
        width: 100%;
        height: $headerHeight2;
        background: linear-gradient(90deg, $cPurple, $cPink1, $cPink2, $cOrange1, $cOrange2, $cYellow);
        @include mq(lg) {
            height: $headerHeight2_lg;
        }

        & .inner {
            max-width: $headerWidth;
            height: $headerHeight2;
            @include mq(lg) {
                height: $headerHeight2_lg;
            }
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0 auto;
        }

        & .left {
            color: $cWhite;
            position: relative;
            width: 35%;
            & .head_catch {
                position: absolute;
                top: 50%;
                left: 3%;
                transform: translateY(-50%);
                min-width: 295px;
                font-size: 17px;
                @include mq(lg) {
                    font-size: 15px;
                }
                font-weight: 700;
            }
        }        
    }
    & .head_nav {
        width: 65%;
        & nav {
            & ul {
                display: flex;
                justify-content: flex-end;
                padding-left: 0;
                & li {
                    display: inline-block;
                    color: $cWhite;
                    border-right: solid;
                    &:last-child {
                        border: 0;
                    }
                    & a {
                        color: $cWhite;
                        font-size: 20px;
                        @include mq(lg) {
                            font-size: 15px;
                        }
                        font-weight: 700;
                        padding: 20px;
                    }
                    
                } 
            }
        }
        /* スクール紹介にマウスホバーで出てくるメニュー 1 */
        & ul.sub_menu_li {
            width: 40%;
            position: absolute;
            top: 120px;
            @include mq(lg) {
                top: 100px;
            }
            left: 50%;
            z-index: 9999;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            
            & li {
                display: block;
                width: 170px;
                border-right: 0;
                margin-top: 20px;
                position: relative;
                overflow: hidden;
                /*アニメーションの指定*/   
                transition: ease .2s;
                &::before {
                    content: '';
                    width: 100%;
                    height: 100%;
                    border-bottom: 1px solid;
                    border-image: linear-gradient(90deg, #C850C0, #F76072 30%, #FFCC70);
                    border-image-slice: 1;
                    position: absolute;
                    top: 0;
                    left: 0;
                    transition: transform .5s cubic-bezier(0.8, 0, 0.2, 1) 0s;
                    transform: scale(0, 1);
                    transform-origin: right top;
                    z-index: -1;
                }
                &:hover {
                    &::before {
                        transform-origin:left top;
                        transform:scale(1, 1);
                    }
                }
                & a {
                    color: #000;
                    font-size: 20px;
                }
                & .arrow {
                    position: relative;
                    display: inline-block;
                    padding: 10px;
                }      
                & .arrow::before {
                    content: '';
                    width: 10px;
                    height: 10px;
                    border-top: solid 2px $cBlack;
                    border-right: solid 2px $cBlack;
                    position: absolute;
                    left: 10px;
                    top: 8px;
                    transform: rotate(45deg);
                }
            }
        }
        /* スクール紹介にマウスホバーで出てくるメニュー 2 */
        & .sub_menu {
            & div {
                display: block;
            }
            width: 100%;
            min-height: 300px;
            background: linear-gradient(90deg, #F6D2CC, #F9DECC, #FDECCC);;
            position: absolute;
            top: 65px;
            right: 0;
            text-align: center;
            z-index: 999;
            @include mq(lg) {
                top: 45px;
            }
            & .title {
                width: 196px;
                height: 148px;
                font-family: 'Slackside One', cursive;
                font-size: 75px;
                position: absolute;
                top: 30px;
                left: 15%;
            }
            & .border {
                width: 200px;
                position: absolute;
                top: 110px;
            }
            & .title_ja {
                font-family: 'Noto Sans JP', sans-serif;
                font-size: 16px;
                & a {
                    padding: 80px 50px 20px;
                }
            }
        }
        /* サブメニューの表示非表示 */
        & .disappear {
            display: none !important;
        }
    }

    
    

    /* スマホ用ヘッダー */
    & .sp_head {
        display: none;
        @include mq(md) {
            display: block;
        }

        & .inner {
            width: 100%;
            height: $headerHeight_sp;
            background-color: $cWhite;
            display: flex;
            justify-content: space-between;
            align-items: center;
    
            & .left {
                width: 157px;
                height: 21px;
                position: relative;
                & .logo {
                    position: absolute;
                    top: 50%;
                    left: 3%;
                    transform: translateY(-50%);
                    & span {
                      display: block;
                      font-size: 10px;
                      font-weight: bold;
                      margin-bottom: 5px;
                      color: $cBlack;
                    }
                    & img {
                        width: 100%;
                        @include mq(sm) {
                            width: 157px;
                            height: 21px;
                        }
                    }
                }
            }
    
            & .right {
                width: 55%;
                height: $headerHeight_sp;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                & .btn_free {
                    position: relative;
                    width: 135px;
                    height: 35px;
                    border: 0;
                    border-radius: 10px;
                    background: linear-gradient(90deg, $cPurple, $cPink1, $cPink2, $cOrange1, $cOrange2, $cYellow);
                    & a {
                        position: absolute;
                        width: 105px;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        color: $cWhite;
                        font-size: 15px;
                        font-weight: 400;
                    }
                }

            }
        }
        
        /* スマホ用開くメニュー */
        & .sp_nav {
            width: 100%;
            background-color: $cWhite;
            text-align: center;
            /* クリックで表示非表示 */
            display: none;
            & ul {
                &.mb_ul {
                    margin-bottom: 20px;
                }
                & li {
                    border-bottom: solid 1px $cGray;
                    text-align: left;
                    font-weight: 400;
                    display: block;
                    width: 100%;
                    height: 100%;
                    position: relative;
                    overflow: hidden;
                    z-index: 2;
                    /*アニメーションの指定*/   
                    transition: ease .2s;
                    &::before {
                        content: '';
                        width: 100%;
                        height: 100%;
                        background-color: $cPink3;
                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index: -1;
                        transform: translateX(-100%);
                        transition: transform .5s cubic-bezier(0.8, 0, 0.2, 1) 0s;
                        transform: scale(0, 1);
                        transform-origin: right top;
                    }
                    // &.before_none::before {
                    //     background-color: $cWhite;
                    //     z-index: -2;
                    // }
                    &:hover {
                        &::before {
                            transform-origin:left top;
                            transform:scale(1, 1);
                        }
                        & > a {
                          color: $cWhite;
                        }
                    }
                    & ul li {
                        border: 0;
                        padding-left: 26px;
                        background-color: $cWhite;
                        z-index: 3;
                        &::before {
                            content: '';
                            width: 100%;
                            height: 100%;
                            background-color: $cPink3;
                            position: absolute;
                            top: 0;
                            left: 0;
                            transform: translateX(-100%);
                            transition: transform .5s cubic-bezier(0.8, 0, 0.2, 1) 0s;
                            transform: scale(0, 1);
                            transform-origin: right top;
                            z-index: -1;
                        }
                        &:hover {
                            &::before {
                                transform: none;
                            }
                        }
                    }
                    & a {
                        display: block;
                        width: 100%;
                        margin-left: 10%;
                        padding: 7.5px 50px 7.5px 0;
                        color: $cBlack;
                        font-size: 18px;
                        font-weight: 400;
                    }
                }
            }
            .sp_line {
              padding-top: 10px;
            }
            
        }    
    }
    /* ハンバーガー */
    & .hamburger {
        background-color: $cWhite;

        & .mobile-menu-icon {
            background-color: transparent;
            border: none;
            outline: none !important;
            cursor: pointer;
            margin-left: 7px;
            width: 50px;
            height: 50px;
            & > span {
                background-color: $cPink3;
                width: 35px;
                height: 2px;
                display: block;
                margin-bottom: 9px;
                transition: transform 0.7s;
        
                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
        
        &.menu-open {
            & .mobile-menu-icon {
                & > span {                   
                    &:nth-child(1) {
                        transition-delay: 70ms;
                        transform: translate(2px,11px) rotate(135deg);
                    }
                    &:nth-child(2) {
                        transform: translateX(50px) scaleX(0);
                    }
                    &:nth-child(3) {
                        transition-delay: 140ms;
                        transform: translate(1px, -10px) rotate(-135deg);
                    }
                }
            }
        }
    }  

    & .sp_line{
        width: 300px;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        padding-top: 30px;
        padding-bottom: 30px;
    }
}


/* footer */
footer {
    background: linear-gradient(90deg, $cPurple, $cPink1, $cPink2, $cOrange1, $cOrange2, $cYellow);
    width: 100%;
    position: absolute;
    bottom: 0;

    & .footer_inner {
        position: relative;
        max-width: $headerWidth;
        min-height: 158px;
        padding-top: 20px;
        width: 100%;
        @include mq(lg) {
            width: 100%;
        }
        text-align: center;
        margin: 0 auto;
        & nav {
            max-width: 672px;
            margin: 0 auto;
            @include mq(lg) {
                width: 98%;
            }
            @include mq(sm) {
                width: 98%;
                height: 140px;
            }
            & ul {
                & li {
                    list-style: none;
                    display: inline-block;
                    font-size: 15px;
                    padding: 0 7px;
                    @include mq(sm) {
                        padding: 20px 15px;
                    }
                    & a {
                        color: $cWhite;
                    }
                }
            }
        }

        & .footer_logo {
            margin: 20px auto;
        }
        & small {
            display: inline-block;
            color: $cWhite;
            margin-bottom: 20px;
        };
    }
}

/* クリックでページ上部にスクロールするボタン */
#scroll_top {
    width: 45px;
    height: 45px;
    position: fixed;
    bottom: 10px;
    left: 90%;
    cursor: pointer;
    z-index: 999;
}


/* 各ページの上部のイメージ */
#head_image {
    width: 100%;
    height: 300px;
    background-image: url(../images/title01.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    @include mq(lg) {
        height: 130px;
    }
    @include mq(sm) {
        height: 130px;
        background-image: url(../images/sp_title01.webp);
    }
    & div {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $cWhite;
        text-align: center;
        & h1 {
            font-size: 32px;
            font-weight: 900;
            padding-bottom: 5px;
            border-bottom: solid 1px $cWhite;
            white-space: nowrap;  
            @include mq(lg) {
                font-size: 24px;
            }    
        }
        & span {
            font-family: "Slackside One", cursive;
            font-size: 37px;
            font-weight: 400;
            font-style: normal;
            @include mq(lg) {
                font-size: 16px;
            }  
        }
    }
}




.appear {
    display: block !important;
}



/* 改行させない */
.nowrap {
    white-space: nowrap;
}


/* ----------------------------- parts --------------------------------*/


/* グラデーションのボーダー */
.border_gradation {
    border: 1px solid;
    border-image: linear-gradient(90deg, $cPurple, $cPink3 25%, $cOrange1 50%, $cYellow 75%);
    border-image-slice: 1;
} 

/* グラデーションのテキスト */
.text_gradation {
    background: linear-gradient(90deg, $cPurple, $cPink3 25%, $cOrange1 50%, $cYellow 75%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* ピンク色のテキスト */
.text_pink { 
    color: $cPink3;
}



/* ボタン内の文字 */
.go_to_line_button .go_to_home,
.go_to_home_button .go_to_home {
  color: #fff;
  z-index: 100;
}
.go_to_home {
  font-size: 1.25rem;
}



/* グラデーションボタンの設定 */
.go_to_home_button {
  display: block;
  background-image: linear-gradient(90deg, #C17BB1, #E95F91, #FF6161, #FCCD19);
  border: 1px solid #E95F91;
  width: 440px;
  height: 55px;
  margin: 60px auto 50px;
  border-radius: 25px;
  position: relative;
  transition: ease .2s; /*アニメーションの指定*/  
  @media (width < 1000px) {
      margin-bottom: 50px;
  }
  @media (width < 768px) {
      max-width: 440px;
      width: 90%;
      margin-bottom: 60px;
  }
}
/* グラデーションボタンの中身をflexに */
.button_flex {
  position: relative;
  top: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
}


/* ===========================
　　ホバー時 
==============================*/

/*hoverした際の左から右への動き*/
.bg_left:hover:before,
.bg_left_white:hover::before {
  transform-origin:left top;
  transform:scale(1, 1);
}

/* ーーーーーーーーーーーーーーーーーーーーー
      グラデーション
ーーーーーーーーーーーーーーーーーーーーーーー*/
/* グラデーションボタンをホバーしたら文字がピンクになる */
.go_to_home_button:hover .go_to_home {
  color: #E95F91;
  z-index: 100;
}
/*== 背景が流れる（左から右） */
.bg_left:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background:#fff;
  width: 100%;
  height: 100%;
  /*アニメーション*/
  transition: transform .6s cubic-bezier(0.8, 0, 0.2, 1) 0s;   
  transform: scale(0, 1);
  transform-origin: right top;
  border-radius: 25px;
}



/* ===========================
　　右矢印 
==============================*/

.button_arrow {
  position: relative;
  display: inline-block;
  padding: 10px;
}      
.button_arrow::before {
  content: '';
  width: 10px;
  height: 10px;
  position: absolute;
  left: 10px;
  top: 8px;
  transform: rotate(45deg);
  border-top: solid 2px #ffffff;
  border-right: solid 2px #ffffff;
}


/* ーーーーーーーーーーーーーー
      グラデーションボタン
ーーーーーーーーーーーーーーー*/
/* グラデーションボタンをホバーしたら矢印がピンク色になる */
.go_to_home_button:hover .button_arrow_pink::before {
  border-top: solid 2px #E95F91;
  border-right: solid 2px #E95F91;
  z-index: 10000;
}




/* ===========================
    [無料で体験する]のところ 
==============================*/
.go_to_home_button,
.go_to_line_button {
  position: relative;
}
.free {
  position: absolute;
  padding: 4px 25px;
  top: -15px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10000;
  font-weight: 700;
  background: #ffffff;
  border-radius: 25px;
}
.free::before{
  border-radius: 25px;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 2px solid transparent;
  background: linear-gradient(90deg, #C17BB1, #E95F91, #FF6161, #FCCD19) border-box border-box;
  mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0) border-box;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0) border-box;
  mask-composite: destination-out;
  -webkit-mask-composite: destination-out;
}

/* グラデーションボタン終わり ============================================================== */



/* ===========================
    お問い合わせボタン 
==============================*/
.go_to_contact_button {
  display: block;
  background-image: linear-gradient(90deg, #C17BB1, #E95F91, #FF6161, #FCCD19);
  border: 1px solid #E95F91;
  width: 165px;
  height: 55px;
  margin: 0 auto 50px;
  border-radius: 25px;
  position: relative;
  transition: ease .2s; /*アニメーションの指定*/  
}
.go_to_contact_button .go_to_contact {
  color: #fff;
  z-index: 100;
}
.go_to_contact {
  position: absolute;
  width: 105px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 17px;
}
/* グラデーションボタンをホバーしたら文字がピンクになる */
.go_to_contact_button:hover .go_to_contact {
  color: #E95F91;
  z-index: 100;
}
/*hoverした際の左から右への動き*/
.to_left:hover:before {
  transform-origin:left top;
  transform:scale(1, 1);
}
/*== 背景が流れる（左から右） */
.to_left:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background:#fff;
  width: 100%;
  height: 100%;
  /*アニメーション*/
  transition: transform .6s cubic-bezier(0.8, 0, 0.2, 1) 0s;   
  transform: scale(0, 1);
  transform-origin: right top;
  border-radius: 25px;
}

/* ===========================
    無料 1時間体験レッスンご予約ボタン 
==============================*/
.go_to_reservation_button {
  display: block;
  background-image: linear-gradient(90deg, #C17BB1, #E95F91, #FF6161, #FCCD19);
  border: 1px solid #E95F91;
  width: 285px;
  height: 55px;
  margin: 0 auto 50px;
  border-radius: 25px;
  position: relative;
  transition: ease .2s; /*アニメーションの指定*/  
  @media (width < 768px) {
    width: 135px;
    height: 35px;
  }
}
.go_to_reservation_button .go_to_reservation {
  color: #fff;
  z-index: 100;
}
.go_to_reservation {
  position: absolute;
  width: 244px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 17px;
  @media (width < 768px) {
    width: 110px;
    font-size: 15px;
  }
}
/* グラデーションボタンをホバーしたら文字がピンクになる */
.go_to_reservation_button:hover .go_to_reservation {
  color: #E95F91;
  z-index: 100;
}
/*hoverした際の左から右への動き*/
.to_left2:hover:before {
  transform-origin:left top;
  transform:scale(1, 1);
}
/*== 背景が流れる（左から右） */
.to_left2:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background:#fff;
  width: 100%;
  height: 100%;
  /*アニメーション*/
  transition: transform .6s cubic-bezier(0.8, 0, 0.2, 1) 0s;   
  transform: scale(0, 1);
  transform-origin: right top;
  border-radius: 25px;
}

.pc_only {
  display: inline;
  @media (width < 768px) {
    display: none;
  }
}

/* ===========================
    無料 1時間体験レッスンご予約ボタン スマホメニュー用 
==============================*/
.btn_sp_navi {
    width: 300px;
    height: 55px;
    margin: 20px auto;
    & .btn_sp_navi_text {
        font-size: 16px;
        font-weight: 900px;
    }
}

.sp_navi_arrow {
    width: 30px;
}


/* ===========================
    続きを見るボタン 
==============================*/
.go_to_next_button {
  display: block;
  background: #F9EEEA;
  border: 1px solid #E95F91;
  width: 285px;
  height: 60px;
  margin: 0 auto 50px;
  border-radius: 28px;
  position: relative;
  transition: ease .2s; /*アニメーションの指定*/
}
.go_to_next {
  color: #4C4948;
  z-index: 100;
  font-size: 16px;
}

/*hoverした際の左から右への動き*/
.to_left3:hover:before {
  transform-origin:left top;
  transform:scale(1, 1);
}
/*== 背景が流れる（左から右） */
.to_left3:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background: #E95F91;
  width: 100%;
  height: 100%;
  /*アニメーション*/
  transition: transform .6s cubic-bezier(0.8, 0, 0.2, 1) 0s;   
  transform: scale(0, 1);
  transform-origin: right top;
  border-radius: 25px;
}

/* ボタンの中身をflexに */
.button_flex2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5000;  /* ホバーした時に文字が表示される */
}
.button_arrow_pink2 {
  position: relative;
  display: inline-block;
}      
.button_arrow_pink2::before {
  content: '';
  width: 10px;
  height: 10px;
  position: absolute;
  top: -4px;
  left: 50px;
  transform: rotate(45deg);
  border-top: solid 2px #4C4948;
  border-right: solid 2px #4C4948;
}

/* ホバーしたら文字が白色になる */
.go_to_next_button:hover .go_to_next  {
  color: #fff;
  z-index: 100;
}
/* ボタンをホバーしたら矢印が白色になる */
.go_to_next_button:hover .button_arrow_pink2::before {
  border-top: solid 2px #fff;
  border-right: solid 2px #fff;
  z-index: 10000;
}







/* ===========================
    lineボタン２ 
==============================*/
/* ボタン内の文字 */
.go_to_line2_button .go_to_line {
  color: #fff;
  z-index: 100;
}
.go_to_line {
  font-size: 20px;
}

/* lineボタンの設定 */
.go_to_line2_button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: $cBg;
  border: 1px solid #E95F91;
  width: 236px;
  height: 45px;
  margin: 0 auto 50px;
  border-radius: 25px;
  position: relative;
  background-color: #06C755;
  border: 1px solid #06C755; 
  overflow: hidden;
  transition: ease .2s; /*アニメーションの指定*/ 
  @media (width < 1000px) {
      margin-bottom: 50px;
  }
  @media (width < 768px) {
      max-width: 440px;
      margin-bottom: 40px;
  }
  @media (width < 480px) {
      width: 242px;
  }
}
/* ===========================
　　ホバー時 
==============================*/
/*hoverした際の左から右への動き*/
.bg_left:hover:before,
.bg_left_white:hover::before {
  transform-origin:left top;
  transform:scale(1, 1);
}

/* LINEボタンをホバーしたら文字がみどり色になる */
.go_to_line2_button:hover .go_to_line  {
  color: #06C755;
  z-index: 100;
}
/* LINEボタンをホバーしたらボタンのボーダーが緑色になる */
.go_to_line2_button:hover .go_to_line2_button{
  border: 5px solid #06C755;
}
/* LINEボタンをホバーしたら背景色が白くなり左から右へ動く */
.bg_left_white2::before {
  content: '';
  /*絶対配置で位置を指定*/
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: #fff;
      /*アニメーション*/
  transition: transform .6s cubic-bezier(0.8, 0, 0.2, 1) 0s;
  transform: scale(0, 1);
  transform-origin: right top;
}
.bg_left_white2:hover::before {
  transform-origin:left top;
  transform:scale(1, 1);
}





  /* ===========================
      ボーダーと文字をグラデーションにしてホバーで変化 講師紹介
  ==============================*/
  .btn_container {
    display: block;
    text-align: center;
    width: 300px;
    margin: 0 auto 5px;
  }

  .border03 {
    width: 100%;
    position: relative;
    padding: 3px;
    background: linear-gradient(90deg, #C17BB1, #E95F91, #FF6161, #FCCD19);
    border-radius: 25px;
  }

  .border03__box {
    padding: 20px;
    background-color: #fff;
      /* border03の「border-radisu数値 - paddingの数値」を指定 */
    border-radius: 18px;
  }

  /*hoverした際の左から右への動き*/
  .to_left3:hover:before {
    transform-origin:left top;
    transform:scale(1, 1);
  }
  /*== 背景が流れる（左から右） */
  .to_left3:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background: #E95F91;
    width: 100%;
    height: 100%;
    /*アニメーション*/
    transition: transform .6s cubic-bezier(0.8, 0, 0.2, 1) 0s;   
    transform: scale(0, 1);
    transform-origin: right top;
    border-radius: 25px;
  }

  /* ボタンの中身をflexに */
  .button_flex2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5000;  /* ホバーした時に文字が表示される */
  }

  .gradation01 {
    z-index: 100;
    font-size: 20px;
    font-weight: 700;
    color: #E95F91;
    background: -webkit-linear-gradient(0deg, #C17BB1, #E95F91, #FF6161, #FCCD19);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .to_left3:hover .gradation01 {
    z-index: 100;
    color: #ffffff;
    background: none;
    background-clip: inherit;
    -webkit-background-clip: inherit;
    -webkit-text-fill-color: #ffffff;
  }
  .button_arrow_pink2 {
    position: relative;
    display: inline-block;
  }      
  .button_arrow_pink2::before {
    content: '';
    width: 10px;
    height: 10px;
    position: absolute;
    top: -4px;
    left: 50px;
    transform: rotate(45deg);
    border-top: solid 2px #E95F91;
    border-right: solid 2px #E95F91;
  }

  /* ボタンをホバーしたら矢印が白色になる */
  .to_left3:hover .button_arrow_pink2::before {
    border-top: solid 2px #fff;
    border-right: solid 2px #fff;
    z-index: 10000;
  }



/* LINEのアイコンをホバーにする */
.head_line_img {
    position: relative;
    background-color: #06C755;
    width: 55px;
    height: 55px;
    border-radius: 12px;
    text-align: center;
}
@media screen and (max-width: 960px) {
  .head_line_img {
    width: 40px;
    height: 40px;
    border-radius: 8px;
  }
}
.head_line_img .bg_white {
    display: inline-block;
    width: 35px;
    height: 35px;
    //   background-color: #ffffff; 
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
@media screen and (max-width: 960px) {
    .head_line_img .bg_white {
    width: 25px;
    height: 25px;
  }
}
/* .head_line_img .bg_white img {  
  position: absolute;
  width: 37px;  
  top: 0;
  left: 17px;  
  transform: translateX(-50%);
  color: #06C755;
  font-size: 42px;
} */
@media screen and (max-width: 960px) {
    .head_line_img .bg_white i {
    font-size: 35px;
    }
}
.head_line_img .bg_white .school_name {
    position: absolute;
    width: 45px;
    bottom: -16px;
    left: 50%;
    transform: translateX(-50%);
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
}
@media screen and (max-width: 960px) {
    .head_line_img .bg_white .school_name {
    font-size: 10px;
    bottom: -13px;
    }
}

.line_img {
    display: inline-block;
    width: 33px;
    height: 33px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-image: url(../images/icons8-line_white.svg);
    background-size: contain;
}
.to_left_line:hover .line_img {
    background-image: url(../images/icons8-line.svg);
    background-size: contain;
}
/*hoverした際の左から右への動き*/
.to_left_line:hover:before {
    transform-origin:left top;
    transform:scale(1, 1);
}
/*== 背景が流れる（左から右） */
.to_left_line:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background: #fff;
    width: 100%;
    height: 100%;
    /*アニメーション*/
    transition: transform .6s cubic-bezier(0.8, 0, 0.2, 1) 0s;   
    transform: scale(0, 1);
    transform-origin: right top;
    border-radius: 12px;
}
.to_left_line:hover .bg_white i {
    display: none;
}
.to_left_line:hover .school_name {
    color: #06C755;
}
.to_left_line:hover {
    border: #06C755 solid 1px; 
}
.bg_white {
    z-index: 2000;
}


  /* ===========================
      ボーダーと文字をグラデーションにしてホバーで変化 各校の詳細ボタン
  ==============================*/
  .container2 {
    display: block;
    text-align: center;
    width: 242px;
    height: 45px;
    margin: 0 auto 5px;
  }

  .border04 {
    width: 100%;
    position: relative;
    padding: 3px;
    background: linear-gradient(90deg, #C17BB1, #E95F91, #FF6161, #FCCD19);
    border-radius: 25px;
  }

  .border04__box {
    padding: 10px;
    background-color: #fff;
      /* border03の「border-radisu数値 - paddingの数値」を指定 */
    border-radius: 18px;
  }

  /*hoverした際の左から右への動き*/
  .to_left4:hover:before {
    transform-origin:left top;
    transform:scale(1, 1);
  }
  /*== 背景が流れる（左から右） */
  .to_left4:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background: #E95F91;
    width: 100%;
    height: 100%;
    /*アニメーション*/
    transition: transform .6s cubic-bezier(0.8, 0, 0.2, 1) 0s;   
    transform: scale(0, 1);
    transform-origin: right top;
    border-radius: 25px;
  }

  .gradation02 {
    z-index: 100;
    font-size: 20px;
    font-weight: 700;
    color: #E95F91;
    background: -webkit-linear-gradient(0deg, #C17BB1, #E95F91, #FF6161, #FCCD19);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .to_left4:hover .gradation01 {
    z-index: 100;
    color: #ffffff;
    background: none;
    background-clip: inherit;
    -webkit-background-clip: inherit;
    -webkit-text-fill-color: #ffffff;
  }
  
  .to_left4:hover .gradation02 {
    position: relative;
    z-index: 100;
    color: #ffffff;
    background: none;
    background-clip: inherit;
    -webkit-background-clip: inherit;
    -webkit-text-fill-color: #ffffff;
  }
  
 /* ===========================
      グラデーションボタン　インスタ、お問い合わせ
  ==============================*/
  /*  */
  /* ボタン内の文字 */
.go_to_insta_button .go_to_insta {
  color: #fff;
  z-index: 100;
  padding-bottom: 2px;
}
.go_to_insta {
  font-size: 19px;
}

/* グラデーションボタンの設定 */
.go_to_insta_button {
  display: block;
  background-image: linear-gradient(90deg, #C17BB1, #E95F91, #FF6161, #FCCD19);
  border: 1px solid #E95F91;
  width: 440px;
  height: 60px;
  margin: 60px auto 50px;
  border-radius: 25px;
  position: relative;
  transition: ease .2s; /*アニメーションの指定*/  
  @media (width < 1000px) {
      margin-bottom: 50px;
  }
  @media (width < 768px) {
      max-width: 440px;
      width: 90%;
      margin-bottom: 60px;
  }
}
/* グラデーションボタンの中身をflexに */
.button_flex5 {
  position: relative;
  top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
}


/* ===========================
　　ホバー時 
==============================*/

/*hoverした際の左から右への動き*/
.bg_left:hover:before,
.bg_left_white:hover::before {
  transform-origin:left top;
  transform:scale(1, 1);
}

/* グラデーションボタンをホバーしたら文字がピンクになる */
.go_to_insta_button:hover .go_to_insta{
  color: #E95F91;
  z-index: 100;
}
/*== 背景が流れる（左から右） */
.bg_left:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background:#fff;
  width: 100%;
  height: 100%;
  /*アニメーション*/
  transition: transform .6s cubic-bezier(0.8, 0, 0.2, 1) 0s;   
  transform: scale(0, 1);
  transform-origin: right top;
  border-radius: 25px;
}



/* 右矢印 */

.button_arrow4 {
  position: relative;
  display: inline-block;
  padding: 10px;
}      
.button_arrow4::before {
  content: '';
  width: 10px;
  height: 10px;
  position: absolute;
  left: 10px;
  top: 3px;
  transform: rotate(45deg);
  border-top: solid 2px #ffffff;
  border-right: solid 2px #ffffff;
}

/* グラデーションボタンをホバーしたら矢印がピンク色になる */
.go_to_insta_button:hover .button_arrow_pink::before {
  border-top: solid 2px #E95F91;
  border-right: solid 2px #E95F91;
  z-index: 10000;
}

