@charset "UTF-8";
/* mv */
.mv {
  position: relative;
  width: 100vw;
  height: 100vh;
}
.mv .mv img {
  width: 150px;
}
@media (width < 660px) {
  .mv .mv img {
    width: 100px;
  }
}
.mv .mv1 {
  position: absolute;
  top: 5%;
  left: 15%;
  animation: mv_move 2s ease-in-out, opacity 2s ease-in-out;
}
@keyframes mv_move {
  0% {
    top: 2%;
  }
  100% {
    top: 5%;
  }
}
@keyframes opacity {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
.mv .mv2 {
  position: absolute;
  top: 5%;
  right: 15%;
  animation: mv_move 2s ease-in-out, opacity 2s ease-in-out;
}
.mv .mv3 {
  position: absolute;
  top: 35%;
  left: 0%;
  animation: mv_move_second 2s ease-in-out, opacity 2s ease-in-out;
}
.mv .mv4 {
  position: absolute;
  top: 35%;
  right: 0%;
  animation: mv_move_second 2s ease-in-out, opacity 2s ease-in-out;
}
@keyframes mv_move_second {
  0% {
    top: 37%;
  }
  100% {
    top: 35%;
  }
}
.mv .mv5 {
  position: absolute;
  top: 65%;
  left: 15%;
  animation: mv_move_third 2s ease-in-out, opacity 2s ease-in-out;
}
.mv .mv6 {
  position: absolute;
  top: 65%;
  right: 12%;
  animation: mv_move_third 2s ease-in-out, opacity 2s ease-in-out;
}
@keyframes mv_move_third {
  0% {
    top: 62%;
  }
  100% {
    top: 65%;
  }
}

.txt {
  font-family: "Montserrat", sans-serif;
  font-size: clamp(1.5rem, 1.213rem + 1.43vw, 2.5rem); /* 20px 40px */
  position: absolute;
  top: 33%;
  left: 50%;
  transform: translate(-50%);
}

.line {
  display: block;
}

.txtInner {
  animation-name: show;
  animation-duration: 0.2s;
  animation-fill-mode: backwards;
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* スクロールダウン */
.scrolldown {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  /* 丸 */
  /* 縦棒 */
}
.scrolldown span {
  position: absolute;
  width: 1rem;
  height: 3rem;
  left: 10px;
  bottom: 0;
  font-size: 0.7rem;
  letter-spacing: 0.08rem;
  font-family: "Montserrat", sans-serif;
  writing-mode: vertical-rl;
}
.scrolldown:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -4px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #F2A6C4;
  animation: circlemove 1.8s ease-in-out infinite, circlemovehide 1.8s ease-in-out infinite;
}
@keyframes circlemove {
  0% {
    bottom: 55px;
  }
  100% {
    bottom: -5px;
  }
}
@keyframes circlemovehide {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
  }
}
.scrolldown::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 2px;
  height: 60px;
  background: #F2A6C4;
}

#home.main {
  /* sec02 can */
  /* スライド */
  /* 横スクロール */
  /* 共通 */
  /* https://liginc.co.jp/548232 */
  /* 横スクロールセクション */
  /* sec04_works */
  /* sec05_contact */
}
#home.main .sec01_about {
  text-align: center;
}
#home.main .sec01_about .container {
  -webkit-clip-path: inset(0 0 50% 0);
          clip-path: inset(0 0 50% 0);
  width: 100%;
  aspect-ratio: 2/1;
  z-index: 10;
  position: relative;
}
@media screen and (max-width: 1000px) {
  #home.main .sec01_about .container {
    -webkit-clip-path: inset(50% 0);
            clip-path: inset(50% 0);
  }
}
#home.main .sec01_about .section_title_box {
  margin-top: -400px;
}
@media (width < 840px) {
  #home.main .sec01_about .section_title_box {
    margin-top: -300px;
  }
}
@media (width < 620px) {
  #home.main .sec01_about .section_title_box {
    margin-top: -250px;
  }
}
@media (width < 530px) {
  #home.main .sec01_about .section_title_box {
    margin-top: -200px;
  }
}
@media screen and (max-width: 480px) {
  #home.main .sec01_about .section_title_box {
    margin-top: -150px;
  }
}
#home.main .sec01_about .about_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
#home.main .sec01_about .about_wrapper .catch_phrase_wrapper {
  margin-top: 80px;
  position: relative;
  height: 397px;
  width: 797px;
  background-color: #FCFDD8;
  border-radius: 47% 53% 55% 45%/46% 32% 68% 54%;
}
@media screen and (max-width: 1000px) {
  #home.main .sec01_about .about_wrapper .catch_phrase_wrapper {
    width: 70%;
  }
}
@media screen and (max-width: 768px) {
  #home.main .sec01_about .about_wrapper .catch_phrase_wrapper {
    width: 85%;
    margin-top: 30px;
  }
}
#home.main .sec01_about .about_wrapper .catch_phrase_wrapper .catch_phrase {
  width: 420px;
  height: 592px;
  font-family: "Yomogi", cursive;
  font-size: 30px;
  color: #2E1000;
  -webkit-text-stroke: 2px #2E1000;
  text-stroke: 2px #2E1000; /* 文字の縁取り */
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
}
@media screen and (max-width: 768px) {
  #home.main .sec01_about .about_wrapper .catch_phrase_wrapper .catch_phrase {
    font-size: 24px;
  }
}
#home.main .sec01_about .about_wrapper .catch_phrase_wrapper .catch_phrase .catch_phrase_dot {
  font-size: 35.82px;
  color: #9F3A04;
  -webkit-text-stroke: 3px #9F3A04;
  text-stroke: 3px #9F3A04; /* 文字の縁取り */
  /* 文字上のドットの設定 */
  background-image: radial-gradient(circle at center, #9F3A04 20%, transparent 20%); /* 点の色とサイズ調整 */
  background-position: top right; /* 点の位置 */
  background-repeat: repeat-x; /* 横方向に繰り返し */
  background-size: 1em 0.3em; /* 点の間隔とサイズ調整 */
  padding-top: 0.03em; /* 縦方向の位置調整 */
}
@media screen and (max-width: 768px) {
  #home.main .sec01_about .about_wrapper .catch_phrase_wrapper .catch_phrase .catch_phrase_dot {
    font-size: 26px;
  }
}
#home.main .sec01_about .about_wrapper .catch_phrase_wrapper .catch_phrase .catch_phrase_dot .catch_phrase_brown {
  font-size: 38px;
  color: #9F3A04;
  -webkit-text-stroke: 3px #9F3A04;
  text-stroke: 3px #9F3A04; /* 文字の縁取り */
}
@media screen and (max-width: 768px) {
  #home.main .sec01_about .about_wrapper .catch_phrase_wrapper .catch_phrase .catch_phrase_dot .catch_phrase_brown {
    font-size: 24px;
  }
}
#home.main .sec01_about .about_wrapper .about_me_wrapper {
  position: absolute;
  top: 234px;
  left: 40%;
  width: 725px;
  height: 450px;
  border-radius: 63% 37% 72% 28%/51% 59% 41% 49%;
  background-color: #CCEAC7;
}
@media screen and (max-width: 1280px) {
  #home.main .sec01_about .about_wrapper .about_me_wrapper {
    width: 60%;
  }
}
@media screen and (max-width: 1000px) {
  #home.main .sec01_about .about_wrapper .about_me_wrapper {
    left: 30%;
    width: 50%;
    height: 460px;
  }
}
@media (width < 838px) {
  #home.main .sec01_about .about_wrapper .about_me_wrapper {
    left: 30%;
    width: 70%;
  }
}
@media screen and (max-width: 768px) {
  #home.main .sec01_about .about_wrapper .about_me_wrapper {
    top: 170px;
  }
}
@media (width < 640px) {
  #home.main .sec01_about .about_wrapper .about_me_wrapper {
    left: 10%;
  }
}
@media (width < 528px) {
  #home.main .sec01_about .about_wrapper .about_me_wrapper {
    width: 90%;
    left: 3%;
  }
}
@media screen and (max-width: 480px) {
  #home.main .sec01_about .about_wrapper .about_me_wrapper {
    height: 480px;
    width: 100%;
  }
}
#home.main .sec01_about .about_wrapper .about_me_wrapper .about_me {
  position: absolute;
  left: 145px;
  top: 63px;
  width: 60%;
  text-align: left;
}
@media screen and (max-width: 1000px) {
  #home.main .sec01_about .about_wrapper .about_me_wrapper .about_me {
    left: 25%;
  }
}
@media (width < 838px) {
  #home.main .sec01_about .about_wrapper .about_me_wrapper .about_me {
    left: 20%;
  }
}
#home.main .sec01_about .about_wrapper .about_me_wrapper .about_me .name {
  font-size: 24px;
  font-weight: bold;
  font-family: "Zen Maru Gothic", serif;
  margin-bottom: 20px;
}
#home.main .sec01_about .about_wrapper .about_me_wrapper .about_me .about_me_text {
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-size: 18px;
  line-height: 150%;
}
@media (width < 1215px) {
  #home.main .sec01_about .about_wrapper .about_me_wrapper .about_me .about_me_text {
    width: 100%;
  }
}
@media (width < 528px) {
  #home.main .sec01_about .about_wrapper .about_me_wrapper .about_me .about_me_text {
    width: 110%;
  }
}
#home.main .sec01_about .about_wrapper .about_me_img_wrapper {
  position: absolute;
  top: 235px;
  left: 29%;
  width: 325px;
  height: 355px;
  border-radius: 39% 61% 52% 48%/40% 45% 55% 60%;
  background-image: url(/assets/images/karattosawayaka.webp);
  background-position: 50% 13%;
  background-size: 110%;
}
@media (width < 1625px) {
  #home.main .sec01_about .about_wrapper .about_me_img_wrapper {
    left: 18%;
  }
}
@media screen and (max-width: 1000px) {
  #home.main .sec01_about .about_wrapper .about_me_img_wrapper {
    width: 200px;
    height: 220px;
  }
}
@media screen and (max-width: 768px) {
  #home.main .sec01_about .about_wrapper .about_me_img_wrapper {
    left: 14%;
    top: 170px;
  }
}
@media (width < 670px) {
  #home.main .sec01_about .about_wrapper .about_me_img_wrapper {
    left: 10%;
  }
}
@media (width < 640px) {
  #home.main .sec01_about .about_wrapper .about_me_img_wrapper {
    left: 65%;
  }
}
@media (width < 566px) {
  #home.main .sec01_about .about_wrapper .about_me_img_wrapper {
    width: 150px;
    height: 150px;
  }
}
#home.main .sec02_can {
  margin-top: 80px;
  text-align: center;
  overflow: hidden;
  margin-bottom: 50px;
}
#home.main .side-scroll {
  width: 100%;
  padding: 0;
  background-color: #1b1717;
  display: flex;
  justify-content: center;
  align-items: center;
}
#home.main .side-scroll .side-scroll-container {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
}
#home.main .side-scroll .side-scroll-container .side-scroll-list-wrapper {
  position: relative;
  width: 100%;
  height: 700px;
}
#home.main .side-scroll .side-scroll-container .side-scroll-list-wrapper .side-scroll-list {
  position: absolute;
  top: 60px;
  left: 0;
  display: flex;
  gap: 0 60px;
}
#home.main .side-scroll .side-scroll-container .side-scroll-list-wrapper .side-scroll-list .side-scroll-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 90vh;
  background-color: #eeebdd;
  color: #1b1717;
  font-size: 32px;
  font-weight: 700;
}
#home.main .side-scroll .side-scroll-container .side-scroll-list-wrapper .side-scroll-list .side-scroll-item + .side-scroll-item {
  margin-left: 60px;
}
#home.main .can_wrapper {
  -o-object-fit: cover;
     object-fit: cover;
  margin: 10% auto;
  width: 80vw;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10%;
  gap: 50px;
}
@media (width < 700px) {
  #home.main .can_wrapper {
    flex-direction: column;
    gap: 10px;
    padding: 0;
  }
}
#home.main .can01 {
  border-radius: 44% 56% 57% 43%/55% 59% 41% 45%;
  background: #F5E1E1;
}
@media (width < 768px) {
  #home.main .can01 {
    border-radius: 20%;
  }
}
#home.main .can02 {
  border-radius: 39% 61% 52% 48%/54% 46% 54% 46%;
  background: #FCFDD8;
}
@media (width < 768px) {
  #home.main .can02 {
    border-radius: 20%;
  }
}
#home.main .can03 {
  border-radius: 39% 61% 52% 48%/54% 46% 54% 46%;
  background: #CCEAC7;
}
@media (width < 768px) {
  #home.main .can03 {
    border-radius: 20%;
  }
}
#home.main .can04 {
  border-radius: 39% 61% 52% 48%/54% 46% 54% 46%;
  background: #E3DFF6;
}
@media (width < 768px) {
  #home.main .can04 {
    border-radius: 20%;
  }
}
#home.main .can05 {
  border-radius: 39% 61% 52% 48%/54% 46% 54% 46%;
  background: #F8CFCF;
}
@media (width < 768px) {
  #home.main .can05 {
    border-radius: 20%;
  }
}
#home.main .can_left {
  width: 50%;
  text-align: center;
}
#home.main .can_left h3 {
  font-size: 64px;
  font-family: var(--mont);
  font-weight: bold;
  margin-bottom: 30px;
}
@media (width < 1100px) {
  #home.main .can_left h3 {
    font-size: 45px;
  }
}
@media (width < 700px) {
  #home.main .can_left h3 {
    margin: 20px auto 10px;
  }
}
#home.main .can_left p {
  font-size: 36px;
  font-family: var(--mont);
  font-weight: bold;
  margin-top: 0;
}
@media (width < 1100px) {
  #home.main .can_left p {
    font-size: 20px;
  }
}
#home.main .can_right {
  text-align: center;
}
#home.main .can_right p {
  font-size: 24px;
  line-height: 40px;
  text-align: left;
  width: 65%;
  margin: 0 auto;
}
@media (width < 1100px) {
  #home.main .can_right p {
    font-size: 20px;
    line-height: 150%;
  }
}
@media (width < 700px) {
  #home.main .can_right p {
    font-size: 16px;
    margin: 20px auto 40px;
    width: 80%;
  }
}
#home.main .sec04_works {
  text-align: center;
  overflow: hidden;
}
#home.main .section_subtitle_works {
  margin-bottom: 100px;
}
#home.main .works_img_wrapper {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
  z-index: 99999;
  position: relative;
}
#home.main .works_img_wrapper:last-of-type {
  margin-top: 50px;
}
#home.main .to_works_more_button {
  margin-top: 100px;
}
@media (width < 768px) {
  #home.main .to_works_more_button {
    margin-top: 45px;
    width: 80%;
  }
}
#home.main .sec05_contact {
  text-align: center;
  overflow: hidden;
}
#home.main .parent {
  position: relative;
  display: inline-block;
}
#home.main .parent::before {
  position: absolute;
  left: -2em;
  top: 0;
  content: "";
  width: 2px;
  height: 100%;
  background-color: #000;
  border-radius: 3px;
  transform: rotate(-30deg);
}
#home.main .parent::after {
  position: absolute;
  right: -2em;
  top: 0;
  content: "";
  width: 2px;
  height: 100%;
  background-color: #000;
  border-radius: 3px;
  transform: rotate(30deg);
}
#home.main .to_contact_button {
  margin-top: 20px;
}
@media (width < 768px) {
  #home.main .to_contact_button {
    width: 80%;
  }
}

#about {
  /* スキルテーブル */
}
#about .section_title_box {
  margin-top: -375px;
}
@media (width < 840px) {
  #about .section_title_box {
    margin-top: -300px;
  }
}
@media (width < 620px) {
  #about .section_title_box {
    margin-top: -250px;
  }
}
@media (width < 530px) {
  #about .section_title_box {
    margin-top: -200px;
  }
}
@media (width < 430px) {
  #about .section_title_box {
    margin-top: -150px;
  }
}
#about .sec02_about_me {
  position: relative;
  margin-top: 40px;
}
#about .sec02_about_me img {
  position: absolute;
  top: 0;
  left: 23%;
  z-index: 5;
  width: 350px;
}
@media (width < 1095px) {
  #about .sec02_about_me img {
    left: 18%;
  }
}
@media (width < 900px) {
  #about .sec02_about_me img {
    width: 250px;
    top: 19%;
  }
}
@media (width < 800px) {
  #about .sec02_about_me img {
    width: 250px;
    top: 13%;
    left: 10%;
  }
}
@media (width < 500px) {
  #about .sec02_about_me img {
    width: 230px;
    top: 45%;
  }
}
@media (width < 435px) {
  #about .sec02_about_me img {
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
  }
}
#about .sec02_about_me .about_me_text {
  position: absolute;
  top: 10%;
  left: 41%;
  font-size: 16px;
  z-index: 4;
  background-color: rgba(245, 225, 225, 0.5019607843);
  border-radius: 38% 62% 69% 31%/30% 46% 54% 70%;
  width: 580px;
  padding: 100px;
}
@media (width < 1455px) {
  #about .sec02_about_me .about_me_text {
    left: 46%;
    width: 600px;
  }
}
@media (width < 900px) {
  #about .sec02_about_me .about_me_text {
    left: 37%;
  }
}
@media (width < 800px) {
  #about .sec02_about_me .about_me_text {
    padding-bottom: 40px;
    padding-top: 40px;
    padding-left: 110px;
    top: 230px;
    left: 19%;
  }
}
@media (width < 700px) {
  #about .sec02_about_me .about_me_text {
    width: 80%;
    padding-left: 80px;
  }
}
@media (width < 500px) {
  #about .sec02_about_me .about_me_text {
    top: 190px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 20%;
    padding: 30px;
  }
}
#about .sec02_about_me .career {
  position: absolute;
  top: 300px;
  left: 20%;
  z-index: 2;
  width: 630px;
  background-color: rgba(252, 253, 216, 0.5019607843);
  padding: 28px 10% 40px 5%;
  border-radius: 38% 62% 27% 41%/30% 25% 63% 64%;
}
@media (width < 1197px) {
  #about .sec02_about_me .career {
    left: 10%;
    top: 250px;
  }
}
@media (width < 900px) {
  #about .sec02_about_me .career {
    left: 1%;
    width: 460px;
    padding-left: 7%;
  }
}
@media (width < 800px) {
  #about .sec02_about_me .career {
    left: 15%;
    top: 490px;
    width: 85%;
    padding-bottom: 80px;
    padding-left: 80px;
  }
}
@media (width < 500px) {
  #about .sec02_about_me .career {
    top: 500px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 20%;
    padding: 30px;
    width: 80%;
  }
}
#about .sec02_about_me .career .about_title {
  font-size: 24px;
}
#about .sec02_about_me .career .about_text {
  font-size: 16px;
}
#about .sec02_about_me .tool {
  position: absolute;
  top: 305px;
  left: 55%;
  z-index: 3;
  background: #F8CFCF;
  width: 550px;
  border-radius: 53% 47% 50% 50%/45% 54% 46% 55%;
  padding: 80px;
}
@media (width < 900px) {
  #about .sec02_about_me .tool {
    left: 47%;
    padding-bottom: 60px;
    padding-left: 40px;
    padding-top: 40px;
  }
}
@media (width < 800px) {
  #about .sec02_about_me .tool {
    left: 15%;
    top: 690px;
    padding: 60px;
  }
}
@media (width < 700px) {
  #about .sec02_about_me .tool {
    width: 80%;
    padding-left: 80px;
    top: 730px;
  }
}
@media (width < 500px) {
  #about .sec02_about_me .tool {
    top: 790px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 15%;
    padding: 30px;
    width: 80%;
  }
}
#about .sec02_about_me .contact_tool {
  position: relative;
  top: 511px;
  left: 34%;
  z-index: 1;
  background: #CCEAC7;
  width: 500px;
  padding: 60px;
  border-radius: 56% 44% 50% 50%/61% 65% 35% 39%;
}
@media (width < 1197px) {
  #about .sec02_about_me .contact_tool {
    top: 470px;
  }
}
@media (width < 900px) {
  #about .sec02_about_me .contact_tool {
    left: 30%;
    padding-top: 70px;
  }
}
@media (width < 800px) {
  #about .sec02_about_me .contact_tool {
    left: 20%;
    top: 900px;
    width: 450px;
    padding-bottom: 60px;
    padding-left: 60px;
  }
}
@media (width < 700px) {
  #about .sec02_about_me .contact_tool {
    width: 80%;
    padding-left: 80px;
    top: 930px;
  }
}
@media (width < 500px) {
  #about .sec02_about_me .contact_tool {
    top: 1060px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 15%;
    padding: 30px;
    width: 80%;
  }
}
#about .sec03_skill {
  margin-top: 600px;
}
@media (width < 800px) {
  #about .sec03_skill {
    margin-top: 1000px;
  }
}
@media (width < 500px) {
  #about .sec03_skill {
    margin-top: 1110px;
  }
}
#about .sec03_skill .skill_box {
  width: 836px;
  margin: 0 auto 134px;
  padding: 4%;
  background-color: #CBFFE7;
  border-radius: 16% 24% 10% 10%;
}
@media (width < 1000px) {
  #about .sec03_skill .skill_box {
    width: 90%;
    margin: 0 auto 40px;
    border-radius: 20px;
  }
}
#about .sec03_skill .skill_box .skill_title {
  font-size: 24px;
  font-family: var(--mont);
}
#about .sec03_skill .skill_box .skill_table {
  font-size: 18px;
  font-weight: normal;
  border-spacing: 30px 0;
  border-collapse: separate;
}
@media (width < 1000px) {
  #about .sec03_skill .skill_box .skill_table {
    width: 100%;
  }
}
#about .sec03_skill .skill_box .skill_table .skill_table tr {
  height: 70px;
}
#about .sec03_skill .skill_box .skill_table .skill_table tr .skill_name {
  width: 17%;
  height: 65px;
}
@media (width < 768px) {
  #about .sec03_skill .skill_box .skill_table .skill_table tr .skill_name {
    display: block;
    width: 100%;
  }
}
#about .sec03_skill .skill_box .skill_table .skill_table tr .skill_graph {
  width: 76%;
  height: 65px;
}
@media (width < 768px) {
  #about .sec03_skill .skill_box .skill_table .skill_table tr .skill_graph {
    display: block;
    width: 100%;
  }
}
#about .sec03_skill .skill_box .skill_table .skill_table tr .skill_graph .white {
  background-color: #fff;
  height: 36px;
  width: 100%;
  border-radius: 50px;
}
#about .sec03_skill .skill_box .skill_table .skill_table tr .skill_graph .white .pink {
  height: 36px;
  border-radius: 50px;
  background-color: var(--pink);
}
#about .sec03_skill .skill_box .skill_table .skill_table tr .skill_graph .white .per80 {
  animation: per80 linear;
  animation-timeline: scroll();
}
@media (width < 768px) {
  #about .sec03_skill .skill_box .skill_table .skill_table tr .skill_graph .white .per80 {
    animation: none;
    width: 80%;
  }
}
@keyframes per80 {
  0% {
    width: 0;
  }
  40% {
    width: 10%;
  }
  60% {
    width: 80%;
  }
  100% {
    width: 80%;
  }
}
#about .sec03_skill .skill_box .skill_table .skill_table tr .skill_graph .white .per40 {
  animation: per40 linear;
  animation-timeline: scroll();
}
@media (width < 768px) {
  #about .sec03_skill .skill_box .skill_table .skill_table tr .skill_graph .white .per40 {
    animation: none;
    width: 40%;
  }
}
@keyframes per40 {
  0% {
    width: 0;
  }
  40% {
    width: 10%;
  }
  60% {
    width: 40%;
  }
  100% {
    width: 40%;
  }
}
#about .sec03_skill .skill_box .skill_table .skill_table tr .skill_graph .white .per20 {
  animation: per20 linear;
  animation-timeline: scroll();
}
@media (width < 768px) {
  #about .sec03_skill .skill_box .skill_table .skill_table tr .skill_graph .white .per20 {
    animation: none;
    width: 20%;
  }
}
@keyframes per20 {
  0% {
    width: 0;
  }
  40% {
    width: 5%;
  }
  60% {
    width: 20%;
  }
  100% {
    width: 20%;
  }
}
#about .sec03_skill .skill_box .skill_table .skill_table tr .skill_per {
  width: 15%;
  height: 65px;
}
@media (width < 768px) {
  #about .sec03_skill .skill_box .skill_table .skill_table tr .skill_per {
    display: block;
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */