@charset "UTF-8";
/* mv */
.mv {
  position: relative;
  width: 100vw;
  height: 100vh;
}
.mv img {
  width: 150px;
}
@media screen and (max-width: 768px) {
  .mv img {
    width: 100px;
  }
}
.mv .mv1 {
  position: absolute;
  top: 5%;
  left: 15%;
  animation: mv_move 2s ease-in-out, opacity 2s ease-in-out;
}
@keyframes mv_move {
  0% {
    top: 2%;
  }
  100% {
    top: 5%;
  }
}
@keyframes opacity {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
.mv .mv2 {
  position: absolute;
  top: 5%;
  right: 15%;
  animation: mv_move 2s ease-in-out, opacity 2s ease-in-out;
}
.mv .mv3 {
  position: absolute;
  top: 35%;
  left: 0%;
  animation: mv_move_second 2s ease-in-out, opacity 2s ease-in-out;
}
@media screen and (max-width: 768px) {
  .mv .mv3 {
    display: none;
  }
}
.mv .mv4 {
  position: absolute;
  top: 35%;
  right: 0%;
  animation: mv_move_second 2s ease-in-out, opacity 2s ease-in-out;
}
@media screen and (max-width: 768px) {
  .mv .mv4 {
    display: none;
  }
}
@keyframes mv_move_second {
  0% {
    top: 37%;
  }
  100% {
    top: 35%;
  }
}
.mv .mv5 {
  position: absolute;
  top: 65%;
  left: 15%;
  animation: mv_move_third 2s ease-in-out, opacity 2s ease-in-out;
}
.mv .mv6 {
  position: absolute;
  top: 65%;
  right: 12%;
  animation: mv_move_third 2s ease-in-out, opacity 2s ease-in-out;
}
@keyframes mv_move_third {
  0% {
    top: 62%;
  }
  100% {
    top: 65%;
  }
}

.txt {
  font-family: "Montserrat", sans-serif;
  font-size: clamp(1.5rem, 1.213rem + 1.43vw, 2.5rem); /* 20px 40px */
  position: absolute;
  top: 33%;
  left: 50%;
  transform: translate(-50%);
}

.line {
  display: block;
}

.txtInner {
  animation-name: show;
  animation-duration: 0.2s;
  animation-fill-mode: backwards;
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* スクロールダウン */
.scrolldown {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  /* 丸 */
  /* 縦棒 */
}
.scrolldown span {
  position: absolute;
  width: 1rem;
  height: 3rem;
  left: 10px;
  bottom: 0;
  font-size: 0.7rem;
  letter-spacing: 0.08rem;
  font-family: "Montserrat", sans-serif;
  writing-mode: vertical-rl;
}
.scrolldown:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -4px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #F2A6C4;
  animation: circlemove 1.8s ease-in-out infinite, circlemovehide 1.8s ease-in-out infinite;
}
@keyframes circlemove {
  0% {
    bottom: 55px;
  }
  100% {
    bottom: -5px;
  }
}
@keyframes circlemovehide {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
  }
}
.scrolldown::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 2px;
  height: 60px;
  background: #F2A6C4;
}

#home.main {
  /* sec02 can */
  /* スライド */
  /* 横スクロール */
  /* 共通 */
  /* https://qiita.com/k_watanabe_51/items/0d21d6560c10163a130f */
  /* 横スクロールセクション */
  /* sec04_works */
  /* sec05_contact */
}
#home.main .sec01_about {
  text-align: center;
}
#home.main .sec01_about .container {
  -webkit-clip-path: inset(0 0 50% 0);
          clip-path: inset(0 0 50% 0);
  width: 100%;
  aspect-ratio: 2/1;
  z-index: 10;
  position: relative;
}
@media screen and (max-width: 1000px) {
  #home.main .sec01_about .container {
    display: none;
  }
}
#home.main .sec01_about .section_title_box {
  margin-top: -400px;
}
@media (width <= 1000px) {
  #home.main .sec01_about .section_title_box {
    margin-top: 0;
  }
}
#home.main .sec01_about .about_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
#home.main .sec01_about .about_wrapper .catch_phrase_wrapper {
  margin-top: 80px;
  position: relative;
  height: 397px;
  width: 797px;
  background-color: #FCFDD8;
  border-radius: 47% 53% 55% 45%/46% 32% 68% 54%;
}
@media screen and (max-width: 1000px) {
  #home.main .sec01_about .about_wrapper .catch_phrase_wrapper {
    width: 70%;
  }
}
@media screen and (max-width: 768px) {
  #home.main .sec01_about .about_wrapper .catch_phrase_wrapper {
    width: 85%;
    margin-top: 30px;
  }
}
@media (width < 420px) {
  #home.main .sec01_about .about_wrapper .catch_phrase_wrapper {
    width: 100%;
  }
}
#home.main .sec01_about .about_wrapper .catch_phrase_wrapper .catch_phrase {
  width: 420px;
  height: 592px;
  font-family: "Yomogi", cursive;
  font-size: 30px;
  color: #2E1000;
  -webkit-text-stroke: 2px #2E1000;
  text-stroke: 2px #2E1000; /* 文字の縁取り */
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
}
@media screen and (max-width: 768px) {
  #home.main .sec01_about .about_wrapper .catch_phrase_wrapper .catch_phrase {
    font-size: 24px;
  }
}
#home.main .sec01_about .about_wrapper .catch_phrase_wrapper .catch_phrase .catch_phrase_dot {
  font-size: 35.82px;
  color: #9F3A04;
  -webkit-text-stroke: 3px #9F3A04;
  text-stroke: 3px #9F3A04; /* 文字の縁取り */
  /* 文字上のドットの設定 */
  background-image: radial-gradient(circle at center, #9F3A04 20%, transparent 20%); /* 点の色とサイズ調整 */
  background-position: top right; /* 点の位置 */
  background-repeat: repeat-x; /* 横方向に繰り返し */
  background-size: 1em 0.3em; /* 点の間隔とサイズ調整 */
  padding-top: 0.03em; /* 縦方向の位置調整 */
}
@media screen and (max-width: 768px) {
  #home.main .sec01_about .about_wrapper .catch_phrase_wrapper .catch_phrase .catch_phrase_dot {
    font-size: 26px;
  }
}
#home.main .sec01_about .about_wrapper .catch_phrase_wrapper .catch_phrase .catch_phrase_dot .catch_phrase_brown {
  font-size: 38px;
  color: #9F3A04;
  -webkit-text-stroke: 3px #9F3A04;
  text-stroke: 3px #9F3A04; /* 文字の縁取り */
}
@media screen and (max-width: 768px) {
  #home.main .sec01_about .about_wrapper .catch_phrase_wrapper .catch_phrase .catch_phrase_dot .catch_phrase_brown {
    font-size: 24px;
  }
}
#home.main .sec01_about .about_wrapper .about_me_wrapper {
  position: absolute;
  top: 234px;
  left: 40%;
  width: 725px;
  height: 420px;
  border-radius: 38% 37% 72% 36%/51% 59% 41% 45%;
  background-color: #CCEAC7;
}
@media screen and (max-width: 1280px) {
  #home.main .sec01_about .about_wrapper .about_me_wrapper {
    width: 52%;
  }
}
@media screen and (max-width: 1000px) {
  #home.main .sec01_about .about_wrapper .about_me_wrapper {
    left: 30%;
    width: 57%;
    height: 460px;
  }
}
@media (width < 838px) {
  #home.main .sec01_about .about_wrapper .about_me_wrapper {
    left: 30%;
    width: 64%;
  }
}
@media screen and (max-width: 768px) {
  #home.main .sec01_about .about_wrapper .about_me_wrapper {
    top: 170px;
    height: 520px;
  }
}
@media (width < 640px) {
  #home.main .sec01_about .about_wrapper .about_me_wrapper {
    left: 7%;
    width: 83%;
  }
}
@media (width < 539px) {
  #home.main .sec01_about .about_wrapper .about_me_wrapper {
    width: 90%;
    left: 3%;
    height: 510px;
  }
}
@media (width < 529px) {
  #home.main .sec01_about .about_wrapper .about_me_wrapper {
    height: 540px;
  }
}
@media screen and (max-width: 480px) {
  #home.main .sec01_about .about_wrapper .about_me_wrapper {
    border-radius: 38% 50% 72% 36%/51% 59% 22% 45%;
    height: 550px;
  }
}
#home.main .sec01_about .about_wrapper .about_me_wrapper .about_me {
  position: absolute;
  left: 145px;
  top: 63px;
  width: 60%;
  text-align: left;
}
@media screen and (max-width: 1000px) {
  #home.main .sec01_about .about_wrapper .about_me_wrapper .about_me {
    left: 25%;
  }
}
@media (width < 838px) {
  #home.main .sec01_about .about_wrapper .about_me_wrapper .about_me {
    left: 20%;
    top: 100px;
  }
}
@media (width < 640px) {
  #home.main .sec01_about .about_wrapper .about_me_wrapper .about_me {
    left: 13%;
  }
}
@media (width < 538px) {
  #home.main .sec01_about .about_wrapper .about_me_wrapper .about_me {
    width: 63%;
  }
}
#home.main .sec01_about .about_wrapper .about_me_wrapper .about_me .name {
  font-size: 24px;
  font-weight: bold;
  font-family: "Zen Maru Gothic", serif;
  margin-bottom: 20px;
}
#home.main .sec01_about .about_wrapper .about_me_wrapper .about_me .about_me_text {
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-size: 18px;
  line-height: 150%;
}
@media (width < 1215px) {
  #home.main .sec01_about .about_wrapper .about_me_wrapper .about_me .about_me_text {
    width: 100%;
  }
}
@media (width < 528px) {
  #home.main .sec01_about .about_wrapper .about_me_wrapper .about_me .about_me_text {
    width: 110%;
  }
}
@media (width < 392px) {
  #home.main .sec01_about .about_wrapper .about_me_wrapper .about_me .about_me_text {
    width: 115%;
  }
}
#home.main .sec01_about .about_wrapper .about_me_img_wrapper {
  position: absolute;
  top: 235px;
  left: 26%;
  width: 325px;
  height: 355px;
  border-radius: 39% 61% 52% 48%/40% 45% 55% 60%;
  background-image: url(../images/karattosawayaka.webp);
  background-position: 50% 13%;
  background-size: 110%;
}
@media (width < 1625px) {
  #home.main .sec01_about .about_wrapper .about_me_img_wrapper {
    left: 22%;
  }
}
@media (width < 1260px) {
  #home.main .sec01_about .about_wrapper .about_me_img_wrapper {
    left: 18%;
  }
}
@media screen and (max-width: 1000px) {
  #home.main .sec01_about .about_wrapper .about_me_img_wrapper {
    width: 200px;
    height: 220px;
  }
}
@media (width < 910px) {
  #home.main .sec01_about .about_wrapper .about_me_img_wrapper {
    left: 15%;
  }
}
@media screen and (max-width: 768px) {
  #home.main .sec01_about .about_wrapper .about_me_img_wrapper {
    left: 14%;
    top: 170px;
  }
}
@media (width < 670px) {
  #home.main .sec01_about .about_wrapper .about_me_img_wrapper {
    left: 10%;
  }
}
@media (width < 640px) {
  #home.main .sec01_about .about_wrapper .about_me_img_wrapper {
    width: 150px;
    height: 150px;
    left: 54%;
  }
}
#home.main .sec02_can {
  margin-top: 60px;
  text-align: center;
  margin-bottom: 50px;
  overflow: hidden;
}
#home.main .sec02_can .container {
  -webkit-clip-path: inset(0 0 50% 0);
          clip-path: inset(0 0 50% 0);
  width: 100%;
  aspect-ratio: 2/1;
  z-index: 10;
  position: relative;
}
@media screen and (max-width: 1000px) {
  #home.main .sec02_can .container {
    display: none;
  }
}
#home.main .sec02_can .section_title_box {
  margin-top: -375px;
}
@media (width <= 1000px) {
  #home.main .sec02_can .section_title_box {
    margin-top: 150px;
  }
}
#home.main .sec02_can .section_title_box .section_title {
  letter-spacing: 0.2em;
}
#home.main .l-hero {
  overflow: hidden;
  position: relative;
}
#home.main .l-hero .l-hero-wrapper {
  width: 400%;
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
  will-change: auto;
}
#home.main .l-hero .l-hero-panel {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #F0FFF8;
}
#home.main .l-hero .l-hero-panel .side-scroll_item01 {
  background-color: #F5E1E1;
}
#home.main .l-hero .l-hero-panel .side-scroll_item02 {
  background-color: #FCFDD8;
}
#home.main .l-hero .l-hero-panel .side-scroll_item03 {
  background-color: #CCEAC7;
}
#home.main .l-hero .l-hero-panel .side-scroll_item04 {
  background-color: #E3DFF6;
}
#home.main .l-hero .l-hero-panel .side-scroll_item05 {
  background-color: #F8CFCF;
}
#home.main .l-hero .l-hero-panel .item_box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: 0 auto;
  padding: 10%;
  border-radius: 30px;
}
@media screen and (max-width: 768px) {
  #home.main .l-hero .l-hero-panel .item_box {
    flex-direction: column;
    padding: 10% 5%;
  }
}
#home.main .l-hero .l-hero-panel .item_box .item_left {
  width: 47%;
  text-align: center;
}
@media screen and (max-width: 768px) {
  #home.main .l-hero .l-hero-panel .item_box .item_left {
    width: 100%;
  }
}
#home.main .l-hero .l-hero-panel .item_box .item_left h3 {
  font-size: 40px;
}
@media screen and (max-width: 768px) {
  #home.main .l-hero .l-hero-panel .item_box .item_left h3 {
    font-size: 24px;
  }
}
#home.main .l-hero .l-hero-panel .item_box .item_left p {
  font-size: 32px;
}
@media screen and (max-width: 768px) {
  #home.main .l-hero .l-hero-panel .item_box .item_left p {
    margin-bottom: 20px;
    font-size: 18px;
    flex-grow: 1;
  }
}
#home.main .l-hero .l-hero-panel .item_box .item_right {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: baseline;
  gap: 20px;
}
@media screen and (max-width: 768px) {
  #home.main .l-hero .l-hero-panel .item_box .item_right {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  #home.main .l-hero .l-hero-panel .item_box .item_right img {
    width: 100px;
  }
}
#home.main .l-hero .l-hero-panel .item_box .item_right p {
  text-align: left;
  font-size: 16px;
}
@media screen and (max-width: 768px) {
  #home.main .l-hero .l-hero-panel .item_box .item_right p {
    width: 100%;
  }
}
#home.main .sec04_works {
  text-align: center;
  overflow: hidden;
  position: relative;
}
#home.main .sec04_works .container {
  overflow: hidden;
  -webkit-clip-path: inset(0 0 50% 0);
          clip-path: inset(0 0 50% 0);
  width: 100%;
  aspect-ratio: 2/1;
  z-index: 10;
  position: relative;
}
@media screen and (max-width: 1000px) {
  #home.main .sec04_works .container {
    display: none;
  }
}
#home.main .sec04_works .section_title_box {
  margin-top: -375px;
}
@media (width <= 1000px) {
  #home.main .sec04_works .section_title_box {
    margin-top: 150px;
  }
}
#home.main .sec04_works .section_subtitle_box {
  margin-bottom: 50px;
}
@media screen and (max-width: 768px) {
  #home.main .sec04_works .section_subtitle_box {
    top: 290px;
  }
}
#home.main .sec04_works .sec04_flex_box {
  z-index: 999999;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  #home.main .sec04_works .sec04_flex_box {
    margin-top: 0;
    gap: 10px;
  }
}
#home.main .sec04_works .sec04_flex_box .work_link_box {
  width: 30%;
}
@media screen and (max-width: 768px) {
  #home.main .sec04_works .sec04_flex_box .work_link_box {
    width: 38%;
  }
}
@media screen and (max-width: 480px) {
  #home.main .sec04_works .sec04_flex_box .work_link_box {
    width: 100%;
  }
}
#home.main .sec04_works .sec04_flex_box .work_link_box .work_link {
  display: block;
  position: relative;
  /* https://blog.raizzenet.com/mouse-hover-caption-effects-in-css/#i-sample2 */
}
@media screen and (max-width: 768px) {
  #home.main .sec04_works .sec04_flex_box .work_link_box .work_link {
    width: 100%;
  }
}
#home.main .sec04_works .sec04_flex_box .work_link_box .work_link .work_img {
  border-radius: 20px;
  width: 100%;
}
#home.main .sec04_works .sec04_flex_box .work_link_box .work_link .mask {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  opacity: 0; /* マスクを表示しない */
  background: linear-gradient(#FCFDD8, #E8B3B3);
  border-radius: 20px;
  transition: all 0.5s ease;
}
#home.main .sec04_works .sec04_flex_box .work_link_box .work_link:hover .mask {
  opacity: 0.9; /* マスクを表示する */
  padding-top: 5px; /* ホバーで下にずらす */
}
#home.main .sec04_works .sec04_flex_box .work_link_box .work_link:hover .mask .mask_title {
  font-size: 18px;
  margin-top: 0px;
  margin-bottom: 5px;
  padding-bottom: 0px;
  border-bottom: 1.5px solid #2E1000;
}
#home.main .sec04_works .sec04_flex_box .work_link_box .work_link:hover .mask .mask_caption {
  font-size: 16px;
  flex-grow: 1;
  font-weight: 600;
  line-height: 140%;
}
#home.main .sec04_works .sec04_flex_box .work_link_box .work_link:hover .mask .mask_subtitle {
  margin-bottom: 15px;
}
#home.main .sec04_works .to_works_more_button {
  margin-top: 100px;
}
@media (width < 768px) {
  #home.main .sec04_works .to_works_more_button {
    margin-top: 45px;
    width: 80%;
  }
}
#home.main .sec05_contact {
  text-align: center;
}
#home.main .sec05_contact .container {
  -webkit-clip-path: inset(0 0 50% 0);
          clip-path: inset(0 0 50% 0);
  width: 100%;
  aspect-ratio: 2/1;
  z-index: 10;
  position: relative;
}
@media screen and (max-width: 1000px) {
  #home.main .sec05_contact .container {
    display: none;
  }
}
#home.main .sec05_contact .section_title_box {
  margin-top: -375px;
}
@media (width < 1000px) {
  #home.main .sec05_contact .section_title_box {
    margin-top: 60px;
  }
}
#home.main .sec05_contact .parent {
  margin-top: 70px;
  position: relative;
  display: inline-block;
}
#home.main .sec05_contact .parent::before {
  position: absolute;
  left: -2em;
  top: 0;
  content: "";
  width: 2px;
  height: 100%;
  background-color: #000;
  border-radius: 3px;
  transform: rotate(-30deg);
}
#home.main .sec05_contact .parent::after {
  position: absolute;
  right: -2em;
  top: 0;
  content: "";
  width: 2px;
  height: 100%;
  background-color: #000;
  border-radius: 3px;
  transform: rotate(30deg);
}
#home.main .sec05_contact .to_contact_button {
  margin-top: 20px;
}
@media (width < 768px) {
  #home.main .sec05_contact .to_contact_button {
    width: 80%;
  }
}

#about {
  /* スキルテーブル */
}
#about .sec01_about {
  position: relative;
  text-align: center;
}
#about .sec01_about .container {
  -webkit-clip-path: inset(0 0 50% 0);
          clip-path: inset(0 0 50% 0);
  width: 100%;
  aspect-ratio: 2/1;
  z-index: 10;
  position: relative;
}
@media screen and (max-width: 1000px) {
  #about .sec01_about .container {
    -webkit-clip-path: inset(50% 0);
            clip-path: inset(50% 0);
  }
}
@media screen and (max-width: 768px) {
  #about .sec01_about .container {
    display: none;
  }
}
#about .sec01_about .section_title_box {
  margin-top: -375px;
}
@media (width < 840px) {
  #about .sec01_about .section_title_box {
    margin-top: -300px;
  }
}
@media screen and (max-width: 768px) {
  #about .sec01_about .section_title_box {
    margin-top: 0;
  }
}
#about .sec02_about_me {
  position: relative;
  margin-top: 40px;
}
@media (width < 545px) {
  #about .sec02_about_me {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 80%;
    margin: 20px auto;
    align-items: center;
  }
}
#about .sec02_about_me img {
  position: absolute;
  top: 0;
  left: 27%;
  z-index: 5;
  width: 350px;
}
@media (width < 1620px) {
  #about .sec02_about_me img {
    left: 24%;
  }
}
@media (width < 1390px) {
  #about .sec02_about_me img {
    left: 17%;
  }
}
@media (width < 1095px) {
  #about .sec02_about_me img {
    left: 18%;
  }
}
@media (width < 1120px) {
  #about .sec02_about_me img {
    left: 16%;
    width: 320px;
    top: 32px;
  }
}
@media (width < 900px) {
  #about .sec02_about_me img {
    width: 250px;
    top: 37%;
  }
}
@media (width < 800px) {
  #about .sec02_about_me img {
    top: 11%;
    left: 8%;
  }
}
@media (width < 545px) {
  #about .sec02_about_me img {
    position: static;
  }
}
#about .sec02_about_me .about_me_text {
  position: absolute;
  top: 10%;
  left: 41%;
  font-size: 16px;
  z-index: 4;
  background-color: rgba(245, 225, 225, 0.5019607843);
  border-radius: 38% 62% 69% 31%/30% 46% 54% 70%;
  width: 580px;
  padding: 100px;
}
@media (width < 1920px) {
  #about .sec02_about_me .about_me_text {
    width: 600px;
    padding: 83px 80px 80px 125px;
  }
}
@media (width < 1455px) {
  #about .sec02_about_me .about_me_text {
    left: 46%;
    width: 600px;
  }
}
@media (width < 1390px) {
  #about .sec02_about_me .about_me_text {
    left: 40%;
  }
}
@media (width < 900px) {
  #about .sec02_about_me .about_me_text {
    left: 36%;
  }
}
@media (width < 800px) {
  #about .sec02_about_me .about_me_text {
    padding-bottom: 55px;
    padding-top: 61px;
    padding-left: 126px;
    top: 156px;
    left: 25%;
  }
}
@media (width < 700px) {
  #about .sec02_about_me .about_me_text {
    width: 92%;
    padding-left: 80px;
    top: 191px;
    left: 2%;
  }
}
@media (width < 545px) {
  #about .sec02_about_me .about_me_text {
    position: static;
  }
}
@media (width < 490px) {
  #about .sec02_about_me .about_me_text {
    border-radius: 25px;
    padding: 7%;
    width: 100%;
  }
}
#about .sec02_about_me .career {
  position: absolute;
  top: 288px;
  left: 18%;
  z-index: 2;
  width: 630px;
  background-color: rgba(252, 253, 216, 0.5019607843);
  padding: 50px 6% 5% 5%;
  border-radius: 38% 62% 27% 41%/30% 25% 63% 64%;
}
@media (width < 1920px) {
  #about .sec02_about_me .career {
    padding: 50px 9% 5% 4%;
  }
}
@media (width < 1620px) {
  #about .sec02_about_me .career {
    padding: 50px 12% 5% 4%;
  }
}
@media (width < 1455px) {
  #about .sec02_about_me .career {
    left: 17%;
  }
}
@media (width < 1390px) {
  #about .sec02_about_me .career {
    left: 15%;
  }
}
@media (width < 1260px) {
  #about .sec02_about_me .career {
    left: 10%;
    padding: 50px 12% 5% 8%;
  }
}
@media (width < 1130px) {
  #about .sec02_about_me .career {
    left: 6%;
    padding: 50px 14% 5% 7%;
  }
}
@media (width < 1030px) {
  #about .sec02_about_me .career {
    left: 3%;
  }
}
@media (width < 980px) {
  #about .sec02_about_me .career {
    padding: 50px 18% 5% 7%;
  }
}
@media (width < 927px) {
  #about .sec02_about_me .career {
    left: 2%;
    width: 460px;
    padding: 7%;
  }
}
@media (width < 900px) {
  #about .sec02_about_me .career {
    top: 253px;
    padding-right: 14%;
  }
}
@media (width < 800px) {
  #about .sec02_about_me .career {
    left: 8%;
    top: 453px;
    width: 85%;
    padding-bottom: 80px;
    padding-left: 80px;
  }
}
@media (width < 545px) {
  #about .sec02_about_me .career {
    position: static;
  }
}
@media (width < 490px) {
  #about .sec02_about_me .career {
    border-radius: 25px;
    padding: 7%;
    width: 100%;
  }
}
#about .sec02_about_me .career .about_title {
  font-size: 24px;
}
@media screen and (max-width: 768px) {
  #about .sec02_about_me .career .about_title {
    font-size: 20px;
  }
}
#about .sec02_about_me .career .about_text {
  font-size: 16px;
}
#about .sec02_about_me .tool {
  position: absolute;
  top: 335px;
  left: 45%;
  z-index: 3;
  background: #F8CFCF;
  width: 550px;
  border-radius: 53% 47% 50% 50%/45% 54% 46% 55%;
  padding: 80px;
}
@media (width < 1620px) {
  #about .sec02_about_me .tool {
    left: 50%;
  }
}
@media (width < 1390px) {
  #about .sec02_about_me .tool {
    left: 53%;
  }
}
@media (width < 1120px) {
  #about .sec02_about_me .tool {
    padding: 65px 30px 65px 65px;
    width: 520px;
  }
}
@media (width < 927px) {
  #about .sec02_about_me .tool {
    left: 48%;
  }
}
@media (width < 900px) {
  #about .sec02_about_me .tool {
    left: 47%;
    padding-bottom: 60px;
    padding-left: 48px;
    padding-top: 49px;
    padding-right: 80px;
  }
}
@media (width < 800px) {
  #about .sec02_about_me .tool {
    left: 29%;
    top: 623px;
    padding: 60px;
  }
}
@media (width < 700px) {
  #about .sec02_about_me .tool {
    width: 80%;
    padding-left: 80px;
    left: 6%;
    top: 679px;
  }
}
@media (width < 545px) {
  #about .sec02_about_me .tool {
    position: static;
  }
}
@media (width < 490px) {
  #about .sec02_about_me .tool {
    border-radius: 25px;
    padding: 7%;
    width: 100%;
  }
}
#about .sec02_about_me .contact_tool {
  position: relative;
  top: 517px;
  left: 34%;
  z-index: 1;
  background: #CCEAC7;
  width: 500px;
  padding: 60px;
  border-radius: 56% 44% 50% 50%/61% 65% 35% 39%;
}
@media (width < 1920px) {
  #about .sec02_about_me .contact_tool {
    top: 527px;
  }
}
@media (width < 1260px) {
  #about .sec02_about_me .contact_tool {
    top: 510px;
    left: 27%;
  }
}
@media (width < 1120px) {
  #about .sec02_about_me .contact_tool {
    top: 480px;
    width: 500px;
    left: 30%;
  }
}
@media (width < 927px) {
  #about .sec02_about_me .contact_tool {
    top: 518px;
  }
}
@media (width < 900px) {
  #about .sec02_about_me .contact_tool {
    left: 23%;
    top: 495px;
    padding-top: 70px;
  }
}
@media (width < 800px) {
  #about .sec02_about_me .contact_tool {
    left: 13%;
    top: 809px;
    width: 450px;
    padding-bottom: 60px;
    padding-left: 60px;
  }
}
@media (width < 700px) {
  #about .sec02_about_me .contact_tool {
    width: 80%;
    padding-left: 80px;
    top: 857px;
    left: 7%;
  }
}
@media (width < 545px) {
  #about .sec02_about_me .contact_tool {
    position: static;
  }
}
@media (width < 490px) {
  #about .sec02_about_me .contact_tool {
    border-radius: 25px;
    padding: 7%;
    width: 100%;
  }
}
#about .sec03_skill {
  margin-top: 600px;
}
@media (width < 800px) {
  #about .sec03_skill {
    margin-top: 900px;
  }
}
@media (width < 700px) {
  #about .sec03_skill {
    margin-top: 920px;
  }
}
@media (width < 545px) {
  #about .sec03_skill {
    margin-top: 40px;
  }
}
#about .sec03_skill .skill_box {
  width: 836px;
  margin: 0 auto 134px;
  padding: 4%;
  background-color: #CBFFE7;
  border-radius: 16% 24% 10% 10%;
}
@media screen and (max-width: 1000px) {
  #about .sec03_skill .skill_box {
    width: 90%;
    margin: 0 auto 40px;
    border-radius: 20px;
  }
}
#about .sec03_skill .skill_box .skill_title {
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  margin-bottom: 30px;
}
#about .sec03_skill .skill_box .skill_table {
  width: 100%;
  font-size: 18px;
  font-weight: normal;
  border-spacing: 30px 0;
  border-collapse: separate;
}
@media (width < 1000px) {
  #about .sec03_skill .skill_box .skill_table {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  #about .sec03_skill .skill_box .skill_table {
    border-spacing: 15px 0;
  }
}
#about .sec03_skill .skill_box .skill_table tbody tr {
  height: 70px;
}
#about .sec03_skill .skill_box .skill_table tbody tr .skill_name {
  width: 17%;
  height: 65px;
}
@media (width < 768px) {
  #about .sec03_skill .skill_box .skill_table tbody tr .skill_name {
    display: inline-block;
    width: 32%;
    height: 35px;
  }
}
#about .sec03_skill .skill_box .skill_table tbody tr .skill_per {
  width: 8%;
  height: 65px;
}
@media (width < 768px) {
  #about .sec03_skill .skill_box .skill_table tbody tr .skill_per {
    display: inline-block;
    width: 65%;
    height: 35px;
  }
}
#about .sec03_skill .skill_box .skill_table tbody tr .skill_graph {
  width: 100%;
  height: 65px;
}
@media (width < 768px) {
  #about .sec03_skill .skill_box .skill_table tbody tr .skill_graph {
    display: block;
    width: 100%;
    height: 48px;
  }
}
#about .sec03_skill .skill_box .skill_table tbody tr .skill_graph .white {
  background-color: #fff;
  height: 36px;
  width: 100%;
  border-radius: 50px;
}
#about .sec03_skill .skill_box .skill_table tbody tr .skill_graph .white .pink {
  height: 36px;
  border-radius: 50px;
  background-color: #F2A6C4;
}
#about .sec03_skill .skill_box .skill_table tbody tr .skill_graph .white .per80 {
  animation: per80 linear;
  animation-timeline: scroll();
}
@media (width < 768px) {
  #about .sec03_skill .skill_box .skill_table tbody tr .skill_graph .white .per80 {
    animation: none;
    width: 80%;
  }
}
@keyframes per80 {
  0% {
    width: 0;
  }
  40% {
    width: 10%;
  }
  60% {
    width: 80%;
  }
  100% {
    width: 80%;
  }
}
#about .sec03_skill .skill_box .skill_table tbody tr .skill_graph .white .per40 {
  animation: per40 linear;
  animation-timeline: scroll();
}
@media (width < 768px) {
  #about .sec03_skill .skill_box .skill_table tbody tr .skill_graph .white .per40 {
    animation: none;
    width: 40%;
  }
}
@keyframes per40 {
  0% {
    width: 0;
  }
  40% {
    width: 10%;
  }
  60% {
    width: 40%;
  }
  100% {
    width: 40%;
  }
}
#about .sec03_skill .skill_box .skill_table tbody tr .skill_graph .white .per20 {
  animation: per20 linear;
  animation-timeline: scroll();
}
@media (width < 768px) {
  #about .sec03_skill .skill_box .skill_table tbody tr .skill_graph .white .per20 {
    animation: none;
    width: 20%;
  }
}
@keyframes per20 {
  0% {
    width: 0;
  }
  40% {
    width: 5%;
  }
  60% {
    width: 20%;
  }
  100% {
    width: 20%;
  }
}
#about .sec04_sns .to_contact_button {
  margin-top: 70px;
}

#contact .sec01_about .container {
  -webkit-clip-path: inset(0 0 50% 0);
          clip-path: inset(0 0 50% 0);
  width: 100%;
  aspect-ratio: 2/1;
  z-index: 10;
  position: relative;
}
@media screen and (max-width: 1000px) {
  #contact .sec01_about .container {
    -webkit-clip-path: inset(50% 0);
            clip-path: inset(50% 0);
  }
}
@media screen and (max-width: 768px) {
  #contact .sec01_about .container {
    display: none;
  }
}
#contact .sec01_about .section_title_box {
  text-align: center;
  margin-top: -375px;
}
@media (width < 840px) {
  #contact .sec01_about .section_title_box {
    margin-top: -300px;
  }
}
@media screen and (max-width: 768px) {
  #contact .sec01_about .section_title_box {
    margin-top: 0;
  }
}
#contact .sec01_about .section_subtitle_box {
  text-align: center;
}
#contact .sec02_cannot {
  width: 90%;
  margin: 50px auto;
}
#contact .sec02_cannot .cannot_box {
  width: 40%;
  margin: 0 auto;
  background: #F2A6C4;
  text-align: center;
  padding: 25px 100px;
  border-radius: 65px;
}
@media screen and (max-width: 1000px) {
  #contact .sec02_cannot .cannot_box {
    width: 60%;
  }
}
@media screen and (max-width: 768px) {
  #contact .sec02_cannot .cannot_box {
    padding: 15px 50px;
  }
}
@media (width < 500px) {
  #contact .sec02_cannot .cannot_box {
    width: 90%;
  }
}
#contact .sec02_cannot .contact_text {
  width: 360px;
  margin: 60px auto 20px;
}
#contact .sec03_contact .contact_table {
  width: 80%;
  margin: 0 auto;
  text-align: left;
  border-spacing: 40px;
  border-collapse: separate;
  font-size: 18px;
}
@media screen and (max-width: 1000px) {
  #contact .sec03_contact .contact_table {
    width: 96%;
  }
}
@media (width < 500px) {
  #contact .sec03_contact .contact_table tbody .contact_tr {
    width: 100%;
  }
}
#contact .sec03_contact .contact_table tbody .contact_tr .contact_th {
  width: 20%;
  font-weight: normal;
}
@media (width < 852px) {
  #contact .sec03_contact .contact_table tbody .contact_tr .contact_th {
    display: block;
    width: 100%;
  }
}
#contact .sec03_contact .contact_table tbody .contact_tr .contact_td {
  width: 75%;
  height: 70px;
}
@media (width < 852px) {
  #contact .sec03_contact .contact_table tbody .contact_tr .contact_td {
    display: block;
    width: 100%;
  }
}
#contact .sec03_contact .contact_table tbody .contact_tr .contact_td input,
#contact .sec03_contact .contact_table tbody .contact_tr .contact_td textarea {
  width: 100%;
  height: 100%;
  background: #F0FFF8;
  border: 3px solid #F2A6C4;
  border-left: none;
  border-top: none;
  font-size: 18px;
}
#contact .sec03_contact .checkbox_box {
  width: 300px;
  margin: 0 auto;
  font-size: 18px;
}
#contact .sec03_contact .checkbox_box input[type=checkbox] {
  width: 40px;
}
#contact .sec03_contact .button {
  border: none;
  margin-top: 40px;
}
#contact .sec03_contact .send_text {
  width: 80%;
  margin: 20px auto 95px;
}

.confirm_form .confirm_title {
  width: 307px;
  margin: 40px auto 20px;
  font-size: 16px;
  font-weight: 600;
  border-bottom: 2px solid #F2A6C4;
  padding-bottom: 5px;
}
.confirm_form .confirm_table {
  width: 60%;
  margin: 0 auto 40px;
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  .confirm_form .confirm_table {
    width: 85%;
  }
}
.confirm_form .confirm_table tr th {
  text-align: left;
  font-weight: 600;
  width: 200px;
}
@media screen and (max-width: 768px) {
  .confirm_form .confirm_table tr th {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  .confirm_form .confirm_table tr td {
    display: block;
    margin-bottom: 30px;
  }
}
.confirm_form .confirm_table tr td:nth-child(3) {
  margin-bottom: 20px;
}
.confirm_form .button_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
@media screen and (max-width: 768px) {
  .confirm_form .button_wrapper {
    display: block;
  }
}
.confirm_form .button_wrapper .back,
.confirm_form .button_wrapper .send {
  margin: 40px 20px 40px;
  width: 300px;
}
@media screen and (max-width: 768px) {
  .confirm_form .button_wrapper .back,
  .confirm_form .button_wrapper .send {
    width: 80%;
    margin: 0 auto 30px;
  }
}
.confirm_form .button_wrapper .back {
  background-color: #F0FFF8;
  border: 2px solid #2E1000;
  color: #2E1000;
}

.completion_title {
  margin-top: 40px;
  text-align: center;
}

.completion_text {
  width: 70%;
  margin: 20px auto;
}

.to_top {
  margin-top: 40px;
  max-width: 350px;
}

#works .sec01_about .container {
  -webkit-clip-path: inset(0 0 50% 0);
          clip-path: inset(0 0 50% 0);
  width: 100%;
  aspect-ratio: 2/1;
  z-index: 10;
  position: relative;
}
@media screen and (max-width: 1000px) {
  #works .sec01_about .container {
    -webkit-clip-path: inset(50% 0);
            clip-path: inset(50% 0);
  }
}
@media screen and (max-width: 768px) {
  #works .sec01_about .container {
    display: none;
  }
}
#works .sec01_about .section_title_box {
  text-align: center;
  margin-top: -375px;
}
@media (width < 840px) {
  #works .sec01_about .section_title_box {
    margin-top: -300px;
  }
}
@media screen and (max-width: 768px) {
  #works .sec01_about .section_title_box {
    margin-top: 0;
  }
}
#works .sec01_about .section_subtitle_box {
  text-align: center;
}
#works .sec02_works_links {
  margin-top: 70px;
}
#works .sec02_works_links .works_links_wrapper {
  width: 90%;
  margin: 0 auto 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 40px 20px;
}
#works .sec02_works_links .works_links_wrapper .work_link_box .link_title {
  margin-bottom: 15px;
  font-weight: 500;
}
#works .sec02_works_links .works_links_wrapper .work_link_box .works_link {
  display: block;
  position: relative;
  border-radius: 20px;
  width: 300px;
  margin-bottom: 10px;
  /* https://blog.raizzenet.com/mouse-hover-caption-effects-in-css/#i-sample2 */
}
#works .sec02_works_links .works_links_wrapper .work_link_box .works_link .link_img {
  display: block;
  width: 100%;
  height: 220px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}
#works .sec02_works_links .works_links_wrapper .work_link_box .works_link .mask {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  opacity: 0; /* マスクを表示しない */
  background: linear-gradient(#FCFDD8, #E8B3B3);
  border-radius: 20px;
  transition: all 0.5s ease;
}
#works .sec02_works_links .works_links_wrapper .work_link_box:hover .mask {
  opacity: 0.9; /* マスクを表示する */
  padding-top: 10px; /* ホバーで下にずらす */
}
#works .sec02_works_links .works_links_wrapper .work_link_box:hover .mask .mask_title {
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-bottom: 0px;
  border-bottom: 1.5px solid #2E1000;
}
#works .sec02_works_links .works_links_wrapper .work_link_box:hover .mask .mask_caption {
  font-size: 16px;
  flex-grow: 1;
  font-weight: 600;
}
#works .sec02_works_links .works_links_wrapper .work_link_box:hover .mask .mask_subtitle {
  margin-bottom: 15px;
}
#works .sec02_works_links .works_links_wrapper .work_link_box .go_to_page_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}
#works .sec02_works_links .works_links_wrapper .work_link_box .go_to_page_flex .to_introduce,
#works .sec02_works_links .works_links_wrapper .work_link_box .go_to_page_flex .to_site {
  width: 50%;
  font-size: 15px;
  text-align: center;
  display: block;
  padding: 5px;
  background-color: #FCFDD8;
  border: 1px solid #2E1000;
  border-radius: 20px;
}
#works .sec02_works_links .works_links_wrapper .work_link_box .go_to_page_center {
  display: flex;
  align-items: center;
  justify-content: center;
}
#works .sec02_works_links .works_links_wrapper .work_link_box .go_to_page_center .to_site {
  width: 80%;
  font-size: 15px;
  text-align: center;
  display: block;
  padding: 5px;
  background-color: #FCFDD8;
  border: 1px solid #2E1000;
  border-radius: 20px;
}
#works .to_contact_button {
  margin-top: 70px;
}

#about_sle {
  width: 80%;
  margin: 0 auto;
}
#about_sle .sec01_title {
  text-align: center;
}
#about_sle .sec02_introduce .sec02_flex {
  margin-top: 50px;
  margin-bottom: 80px;
  display: flex;
  justify-content: space-between;
  align-items: start;
}
@media screen and (max-width: 768px) {
  #about_sle .sec02_introduce .sec02_flex {
    flex-direction: column;
    margin-bottom: 30px;
  }
}
#about_sle .sec02_introduce .sec02_flex img {
  width: 50%;
}
@media screen and (max-width: 768px) {
  #about_sle .sec02_introduce .sec02_flex img {
    width: 80%;
    margin: 0 auto 40px;
  }
}
#about_sle .sec02_introduce .sec02_flex .sec02_right {
  width: 50%;
  text-align: center;
}
@media screen and (max-width: 768px) {
  #about_sle .sec02_introduce .sec02_flex .sec02_right {
    margin-top: 20px;
    width: 100%;
  }
}
#about_sle .sec02_introduce .sec02_flex .sec02_right .sub_title {
  width: 60%;
  margin: 0 auto 40px;
  padding: 10px;
  border: 2px solid #F2A6C4;
  border-radius: 20px;
  font-size: 18px;
  font-weight: 700;
}
@media screen and (max-width: 768px) {
  #about_sle .sec02_introduce .sec02_flex .sec02_right .sub_title {
    width: 90%;
  }
}
#about_sle .sec02_introduce .sec02_flex .sec02_right p:first-of-type {
  margin: 0 auto 20px;
  width: 150px;
  font-weight: 700;
  padding-bottom: 5px;
  border-bottom: 2px solid #2E1000;
}
@media screen and (max-width: 768px) {
  #about_sle .sec02_introduce .sec02_flex .sec02_right p:first-of-type {
    margin: 0 auto 20px 0;
    text-align: left;
    width: 110px;
    font-weight: bold;
    font-size: 18px;
  }
}
#about_sle .sec02_introduce .sec02_flex .sec02_right p {
  margin-bottom: 15px;
}
@media screen and (max-width: 768px) {
  #about_sle .sec02_introduce .sec02_flex .sec02_right p {
    text-align: left;
    margin-bottom: 8px;
  }
}
#about_sle .sec02_introduce .sec02_title {
  display: inline-block;
  margin: 0 auto 15px 0;
  font-weight: bold;
  padding-bottom: 5px;
  border-bottom: 2px solid #2E1000;
}
#about_sle .sec02_introduce .sec02_text {
  line-height: 150%;
  margin: 0 auto 25px 0;
  display: block;
}
#about_sle .sec02_introduce .sec02_image_flex {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 10%;
  margin-bottom: 40px;
  margin-top: 50px;
}
@media (width < 665px) {
  #about_sle .sec02_introduce .sec02_image_flex {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}
@media (width < 665px) {
  #about_sle .sec02_introduce .sec02_image_flex img {
    text-align: center;
  }
}
#about_sle .sec02_introduce .to_site_button {
  background-color: #F2A6C4;
  color: #F0FFF8;
  font-weight: bold;
  margin-top: 70px;
}
@media screen and (max-width: 768px) {
  #about_sle .sec02_introduce .to_site_button {
    margin-bottom: 30px;
  }
}
#about_sle .sec02_introduce .to_back_button {
  background-color: #F0FFF8;
  border: 3px solid #F2A6C4;
  color: #F2A6C4;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 90px;
}
@media screen and (max-width: 768px) {
  #about_sle .sec02_introduce .to_back_button {
    margin-top: 20px;
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 768px) {
  #about_sle .sec03_sns .to_design {
    top: 50%;
  }
}

#error404 .sec01_title {
  text-align: center;
}
#error404 .sec02_text {
  width: 42%;
  margin: 30px auto;
}
#error404 .sec02_text p {
  text-align: left;
}

#privacy .sec01_title {
  text-align: center;
  margin-bottom: 30px;
}
#privacy .sec02_text {
  width: 80%;
  margin: 0 auto;
}

#about_onof {
  width: 80%;
  margin: 0 auto;
}
#about_onof .sec01_title {
  text-align: center;
}
#about_onof .sec02_introduce .sec02_flex {
  margin-top: 50px;
  margin-bottom: 80px;
  display: flex;
  justify-content: space-between;
  align-items: start;
}
@media screen and (max-width: 768px) {
  #about_onof .sec02_introduce .sec02_flex {
    flex-direction: column;
    margin-bottom: 30px;
  }
}
#about_onof .sec02_introduce .sec02_flex img {
  width: 50%;
}
@media screen and (max-width: 768px) {
  #about_onof .sec02_introduce .sec02_flex img {
    width: 80%;
    margin: 0 auto 40px;
  }
}
#about_onof .sec02_introduce .sec02_flex .sec02_right {
  width: 50%;
  text-align: center;
}
@media screen and (max-width: 768px) {
  #about_onof .sec02_introduce .sec02_flex .sec02_right {
    margin-top: 20px;
    width: 100%;
  }
}
#about_onof .sec02_introduce .sec02_flex .sec02_right .sub_title {
  width: 60%;
  margin: 0 auto 40px;
  padding: 10px;
  border: 2px solid #F2A6C4;
  border-radius: 20px;
  font-size: 18px;
  font-weight: 700;
}
#about_onof .sec02_introduce .sec02_flex .sec02_right p:first-of-type {
  margin: 0 auto 20px;
  width: 150px;
  font-weight: 700;
  padding-bottom: 5px;
  border-bottom: 2px solid #2E1000;
}
@media screen and (max-width: 768px) {
  #about_onof .sec02_introduce .sec02_flex .sec02_right p:first-of-type {
    margin: 0 auto 20px 0;
    text-align: left;
    width: 110px;
    font-weight: bold;
    font-size: 18px;
  }
}
#about_onof .sec02_introduce .sec02_flex .sec02_right p {
  margin-bottom: 15px;
}
@media screen and (max-width: 768px) {
  #about_onof .sec02_introduce .sec02_flex .sec02_right p {
    text-align: left;
    margin-bottom: 8px;
  }
}
#about_onof .sec02_introduce .sec02_title {
  display: inline-block;
  margin: 0 auto 15px 0;
  font-weight: bold;
  padding-bottom: 5px;
  border-bottom: 2px solid #2E1000;
}
#about_onof .sec02_introduce .sec02_text {
  line-height: 150%;
  margin: 0 auto 25px 0;
  display: block;
}
#about_onof .sec02_introduce .sec02_image_flex {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 10%;
  margin-bottom: 40px;
  margin-top: 50px;
}
@media (width < 665px) {
  #about_onof .sec02_introduce .sec02_image_flex {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}
@media (width < 665px) {
  #about_onof .sec02_introduce .sec02_image_flex img {
    text-align: center;
  }
}
#about_onof .sec02_introduce .to_site_button {
  background-color: #F2A6C4;
  color: #F0FFF8;
  font-weight: bold;
  margin-top: 70px;
}
@media screen and (max-width: 768px) {
  #about_onof .sec02_introduce .to_site_button {
    margin-bottom: 30px;
  }
}
#about_onof .sec02_introduce .to_back_button {
  background-color: #F0FFF8;
  border: 3px solid #F2A6C4;
  color: #F2A6C4;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 90px;
}
@media screen and (max-width: 768px) {
  #about_onof .sec02_introduce .to_back_button {
    margin-top: 20px;
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 768px) {
  #about_onof .sec03_sns .to_design {
    top: 50%;
  }
}/*# sourceMappingURL=style.css.map */