@use "../globals/index" as *;

#about_sle {
    width: 80%;
    margin: 0 auto;
    .sec01_title {
        text-align: center;
    }
    .sec02_introduce {

        .sec02_flex {
            margin-top: 50px;
            margin-bottom: 80px;
            display: flex;
            justify-content: space-between;
            align-items: start;
            @include mq(md){
                flex-direction: column;
                margin-bottom: 30px;
            }
            img {
                width: 50%;
                @include mq(md){
                    width: 80%;
                    margin: 0 auto 40px;
                }
            }
            .sec02_right {
                width: 50%;
                text-align: center;
                @include mq(md) {
                    margin-top: 20px;
                    width: 100%;
                }
                .sub_title {
                    width: 60%;
                    margin: 0 auto 40px;
                    padding: 10px;
                    border: 2px solid $c-pink;
                    border-radius: 20px;
                    font-size: 18px;
                    font-weight: 700;
                    @include mq(md){
                        width: 90%;
                    } 
                }
                & p:first-of-type {
                    margin: 0 auto 20px;
                    width: 150px;
                    font-weight: 700;
                    padding-bottom: 5px;
                    border-bottom: 2px solid $font-color;
                    @include mq(md) {
                        margin: 0 auto 20px 0;
                        text-align: left;
                        width: 110px;
                        font-weight: bold;
                        font-size: 18px;
                    }
                }
                & p {
                    margin-bottom: 15px;
                    @include mq(md) {
                        text-align: left;
                        margin-bottom: 8px;
                    }
                }
            }   
        }
        .sec02_title {
            display: inline-block;
            margin: 0 auto 15px 0;
            font-weight: bold;
            padding-bottom: 5px;
            border-bottom: 2px solid $font-color;
        }
        .sec02_text {
            line-height: 150%;
            margin: 0 auto 25px 0;
            display: block;
        }
        .sec02_image_flex {
            display: flex;
            justify-content: center;
            align-items: start;
            gap: 10%;
            margin-bottom: 40px;
            margin-top: 50px;
            @media (width < 665px) {
                flex-direction: column;
                align-items: center;
                gap: 20px;
            }
            & img {
                @media (width < 665px) {
                    text-align: center;
                }
            }
        }
        .to_site_button {
            background-color: $c-pink;
            color: $bg-color;
            font-weight: bold;
            margin-top: 70px;
            @include mq(md) {
                margin-bottom: 30px;
            }
        }
        .to_back_button {
            background-color: $bg-color;
            border: 3px solid $c-pink;
            color: $c-pink;
            font-weight: bold;
            margin-top: 40px;
            margin-bottom: 90px;
            @include mq(md) {
                margin-top: 20px;
                margin-bottom: 50px;
            }
        }
    }
    .sec03_sns {
        .to_design {
            @include mq(md) {
                top: 50%;
            }
        }
    }
}