@use "../globals/index" as *;

#about_sle {
    width: 90%;
    margin: 0 auto;
    .sec01_title {
        text-align: center;
    }
    .sec02_flex {
        margin-top: 50px;
        display: flex;
        justify-content: space-between;
        align-items: start;
        img {
            width: 50%;
        }
        .sec02_right {
            width: 50%;
            text-align: center;
            .sub_title {
                width: 60%;
                margin: 0 auto 40px;
                padding: 10px;
                border: 2px solid $c-pink;
                border-radius: 20px;
                font-size: 18px;
                font-weight: 700;
            }
            & p:first-of-type {
                margin: 0 auto 20px;
                width: 150px;
                font-weight: 700;
                padding-bottom: 5px;
                border-bottom: 2px solid $font-color;
            }
            & p {
                margin-bottom: 15px;
            }
        }

    }
}