@use "../globals/index" as *;

#about {
    .sec01_about {
        position: relative;
        text-align: center;
        & .container {
            clip-path: inset(0 0 50% 0);
            width: 100%;
            aspect-ratio: 2 / 1;
            z-index: 10;
            position: relative;
            @include mq(lg) {
                clip-path: inset(50% 0);
            }
        }
        .section_title_box {
            margin-top: -375px;
            @media (width < 840px){
                margin-top: -300px;
            }
            @media (width < 620px){
                margin-top: -250px;
            }
            @media (width < 530px){
                margin-top: -200px;
            }
            @media (width < 430px){
                margin-top: -150px;
            }
        }
    }
    .sec02_about_me {
        position: relative;
        margin-top: 40px;
        & img {
            position: absolute;
            top: 0;
            left: 23%;
            z-index: 5;
            width: 350px;
            @media (width < 1095px){
            left: 18%;
            }
            @media (width < 900px){
            width: 250px;
            top: 19%;
            }
            @media (width < 800px){
            width: 250px;
            top: 13%;
            left: 10%;
            }
            @media (width < 500px){
            width: 230px;
            top: 45%;
            }
            @media (width < 435px){
            top: 10%;
            left: 50%;
            transform: translateX(-50%);
            width: 150px;
            }
        }
        .about_me_text {
            position: absolute;
            top: 10%;
            left: 41%;
            font-size: 16px;
            z-index: 4;
            background-color: #F5E1E180;
            border-radius: 38% 62% 69% 31% / 30% 46% 54% 70%;
            width: 580px;
            padding: 100px;
            @media (width < 1455px){
               left: 46%;
               width: 600px;
            }
            @media (width < 900px){
                left: 37%;
            }
            @media (width < 800px){
                padding-bottom: 40px;
                padding-top: 40px;
                padding-left: 110px;
                top: 230px;
                left: 19%;
            }
            @media (width < 700px){
                width: 80%;
                padding-left: 80px;
            }
            @media (width < 500px){
                top: 190px;
                left: 50%;
                transform: translateX(-50%);
                border-radius: 20%;
                padding: 30px;
            }
        }
        .career {
            position: absolute;
            top: 300px;
            left: 13%;
            z-index: 2;
            width: 630px;
            background-color: #FCFDD880;
            padding: 28px 10%  9% 5%;
            border-radius: 38% 62% 27% 41% / 30% 25% 63% 64%;
            @media (width < 1197px){
                left: 10%;
                top: 250px;
             }
             @media (width < 900px){
                left: 1%;
                width: 460px;
                padding-left: 7%;
             }
             @media (width < 800px){
                left: 15%;
                top: 490px;
                width: 85%;
                padding-bottom: 80px;
                padding-left: 80px;
             }
             @media (width < 500px){
                top: 500px;
                left: 50%;
                transform: translateX(-50%);
                border-radius: 20%;
                padding: 30px;
                width: 80%;
             }
             .about_title {
                font-size: 24px;
            }
            .about_text {
                font-size: 16px;
            }
        }
        .tool {
            position: absolute;
            top: 305px;
            left: 55%;
            z-index: 3;
            background: #F8CFCF;
            width: 550px;
            border-radius: 53% 47% 50% 50% / 45% 54% 46% 55% ;
            padding: 80px;
            @media (width < 900px){
                left: 47%;
                padding-bottom: 60px;
                padding-left: 40px;
                padding-top: 40px;
             }
             @media (width < 800px){
                left: 15%;
                top: 690px;
                padding: 60px;
             }
             @media (width < 700px){
                width: 80%;
                padding-left: 80px;
                top: 730px;
             }
             @media (width < 500px){
                top: 790px;
                left: 50%;
                transform: translateX(-50%);
                border-radius: 15%;
                padding: 30px;
                width: 80%;
             }
        }
        .contact_tool {
            position: relative;
            top: 511px;
            left: 34%;
            z-index: 1;
            background: #CCEAC7;
            width: 500px;
            padding: 60px;
            border-radius: 56% 44% 50% 50% / 61% 65% 35% 39%;
            @media (width < 1197px){
                top: 470px;
            }
            @media (width < 900px){
                left: 30%;
                padding-top: 70px;
            }
            @media (width < 800px){
                left: 20%;
                top: 900px;
                width: 450px;
                padding-bottom: 60px;
                padding-left: 60px;
             }
             @media (width < 700px){
                width: 80%;
                padding-left: 80px;
                top: 930px;
             }
             @media (width < 500px){
                top: 1060px;
                left: 50%;
                transform: translateX(-50%);
                border-radius: 15%;
                padding: 30px;
                width: 80%;
             }
        }        
    }
    /* スキルテーブル */
    .sec03_skill {
        margin-top: 600px;
        @media (width < 800px){
            margin-top: 1000px;
        }
        @media (width < 500px){
            margin-top: 1110px;
        }
        .skill_box {
            width: 836px;
            margin: 0 auto 134px;
            padding: 4%;
            background-color: #CBFFE7;
            border-radius: 16% 24% 10% 10%;
            @include mq(lg){
                width: 90%;
                margin: 0 auto 40px;
                border-radius: 20px;
            }
            .skill_title {
                font-size: 24px;
                font-family: $mont;
                text-align: center;
                margin-bottom: 30px;
            }
            .skill_table {
                width: 100%;
                font-size: 18px;
                font-weight: normal;
                border-spacing: 30px 0;
                border-collapse: separate;
                @media (width < 1000px){
                    width: 100%;
                }
                tbody{
                    tr {
                        height: 70px;
                        .skill_name {
                            width: 17%;
                            height: 65px;
                            @media (width < 768px){
                                display: block;
                                width: 100%;   
                            }
                        }
                        .skill_per {
                            width: 8%;
                            height: 65px;
                            @media (width < 768px){
                                display: block;
                                width: 100%;   
                            }
                        }
                        .skill_graph {
                            width: 100%;
                            height: 65px;
                            @media (width < 768px){
                                display: block;
                                width: 100%;  
                            }
                            .white {
                                background-color: #fff;
                                height: 36px;
                                width: 100%;
                                border-radius: 50px;
                                .pink {
                                    height: 36px;
                                    border-radius: 50px;
                                    background-color: $c-pink;
                                }
                                .per80 {
                                    animation: per80 linear;
                                    animation-timeline: scroll();
                                    @media (width < 768px){
                                        animation: none;
                                        width: 80%;
                                    }
                                }
                                @keyframes per80 {
                                    0%  {width: 0;}
                                    40% {width: 10%;}
                                    60% {width: 80%;}
                                    100%{width: 80%;}
                                }
                                
                                .per40 {
                                    animation: per40 linear;
                                    animation-timeline: scroll();  
                                    @media (width < 768px){
                                        animation: none;
                                        width: 40%;
                                    }
                                }
                                @keyframes per40 {
                                    0%  {width: 0;}
                                    40% {width: 10%;}
                                    60% {width: 40%;}
                                    100%{width: 40%;}
                                }
                                .per20 {
                                    animation: per20 linear;
                                    animation-timeline: scroll();  
                                    @media (width < 768px){
                                        animation: none;
                                        width: 20%;
                                    }
                                }
                                @keyframes per20{
                                    0%  {width: 0;}
                                    40% {width: 5%;}
                                    60% {width: 20%;}
                                    100%{width: 20%;}
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .sec04_sns{
        .to_contact_button {
            margin-top: 70px;
        }
    }
}