@use "../globals/index" as *;

#about {
    .sec01_about {
        position: relative;
        text-align: center;
        & .container {
            clip-path: inset(0 0 50% 0);
            width: 100%;
            aspect-ratio: 2 / 1;
            z-index: 10;
            position: relative;
            @include mq(lg) {
                clip-path: inset(50% 0);
            }
            @include mq(md) {
                display: none;
            }
        }
        .section_title_box {
            margin-top: -375px;
            @media (width < 840px){
                margin-top: -300px;
            }
            @include mq(md) {
                margin-top: 0;
            }
        }
    }
    .sec02_about_me {
        position: relative;
        margin-top: 40px;
        @media (width < 545px) {
            display: flex;
            flex-direction: column;
            gap: 20px;
            width: 80%;
            margin: 20px auto;
            align-items: center;
        }
        & img {
            position: absolute;
            top: 0;
            left: 27%;
            z-index: 5;
            width: 275px;
            @media (width < 1620px) {
                left: 24%;
            }
            @media ( width < 1455px) {
                left: 29%;
            }
            @media (width < 1390px) {
                left: 24%;
            }
            @media (width < 1120px){
                left: 18%;
                top: 32px;
            }
            @media (width < 1095px){
                left: 18%;
            }
            @media (width < 900px){
                width: 185px;
                top: 37%;
            }
            @media (width < 800px){
                top: 11%;
                left: 8%;
            }
            @media (width < 545px){
                position: static;
            }
        }
        .about_me_text {
            position: absolute;
            top: 10%;
            left: 41%;
            font-size: 16px;
            z-index: 4;
            background-color: #F5E1E180;
            border-radius: 38% 62% 69% 31% / 30% 46% 54% 70%;
            width: 580px;
            padding: 100px;
            @media (width < 1920px) {
                width: 600px;
                padding: 83px 80px 80px 125px;
            }
            @media (width < 1455px){
               left: 46%;
               width: 600px;
            }
            @media (width < 1390px){
                left: 40%;
            }
            @media (width < 900px){
                left: 36%;
            }
            @media (width < 800px){
                padding-bottom: 55px;
                padding-top: 61px;
                padding-left: 126px;
                top: 156px;
                left: 25%;
            }
            @media (width < 700px){
                width: 92%;
                padding-left: 80px;
                top: 191px;
                left: 2%;
            }
            @media (width < 545px){
                position: static;
            }
            @media (width < 490px) {
                border-radius: 25px;
                padding: 7%;
                width: 100%;
            }
        }
        .career {
            position: absolute;
            top: 288px;
            left: 18%;
            z-index: 2;
            width: 630px;
            background-color: #FCFDD880;
            padding: 50px 6% 5% 5%;
            border-radius: 38% 62% 27% 41% / 30% 25% 63% 64%;
            @media (width < 1920px) {
                padding: 50px 9% 5% 4%;
            }
            @media (width < 1620px){
                padding: 50px 12% 5% 4%;
            }
            @media (width < 1455px) {
                left: 17%;
            }
            @media (width < 1390px){
                left: 15%;
            }
            @media (width < 1260px){
                left: 10%;
                padding: 50px 12% 5% 8%;
            }
            @media (width < 1130px){
                left: 6%;
                padding: 50px 14% 5% 7%;
            }
            @media (width < 1030px) {
                left: 3%;
            }
            @media (width < 980px) {
                padding: 50px 18% 5% 7%;
            }
             @media (width < 927px){
                left: 2%;
                width: 460px;
                padding: 7%;
             }
             @media (width < 900px) {
                top: 253px;
                padding-right: 14%;
             }
             @media (width < 800px){
                left: 8%;
                top: 453px;
                width: 85%;
                padding-bottom: 80px;
                padding-left: 80px;
             }
             @media (width < 545px){
                position: static;
            }
            @media (width < 490px) {
                border-radius: 25px;
                padding: 7%;
                width: 100%;
            }
             .about_title {
                font-size: 24px;
                @include mq(md) {
                    font-size: 20px;
                }
            }
            .about_text {
                font-size: 16px;
            }
        }
        .tool {
            position: absolute;
            top: 335px;
            left: 45%;
            z-index: 3;
            background: #F8CFCF;
            width: 550px;
            border-radius: 53% 47% 50% 50% / 45% 54% 46% 55% ;
            padding: 80px;
            @media(width < 1620px){
                left: 50%;
            }
            @media (width < 1390px){
                left: 53%;
            }
            @media (width < 1120px) {
                padding: 65px 30px 65px 65px;
                width: 520px;
            }
            @media (width < 927px) {
                left: 48%;
            }
            @media (width < 900px){
                left: 47%;
                padding-bottom: 60px;
                padding-left: 48px;
                padding-top: 49px;
                padding-right: 80px;
             }
             @media (width < 800px){
                left: 29%;
                top: 623px;
                padding: 60px;
             }
             @media (width < 700px){
                width: 80%;
                padding-left: 80px;
                left: 6%;
                top: 679px;
             }
             @media (width < 545px){
                position: static;
            }
            @media (width < 490px) {
                border-radius: 25px;
                padding: 7%;
                width: 100%;
            }
        }
        .contact_tool {
            position: relative;
            top: 517px;
            left: 34%;
            z-index: 1;
            background: #CCEAC7;
            width: 500px;
            padding: 60px;
            border-radius: 56% 44% 50% 50% / 61% 65% 35% 39%;
            @media(width < 1920px) {
                top: 527px;
            }
            @media (width < 1260px) {
                top: 510px;
                left: 27%;
            }
            @media (width < 1120px) {
                top: 480px;
                width: 500px;
                left: 30%;
            }
            @media (width < 927px) {
                top: 518px;
            }
            @media (width < 900px){
                left: 23%;
                top: 495px;
                padding-top: 70px;
            }
            @media (width < 800px){
                left: 13%;
                top: 809px;
                width: 450px;
                padding-bottom: 60px;
                padding-left: 60px;
             }
             @media (width < 700px){
                width: 80%;
                padding-left: 80px;
                top: 857px;
                left: 7%;
             }
             @media (width < 545px){
                position: static;
            }
            @media (width < 490px) {
                border-radius: 25px;
                padding: 7%;
                width: 100%;
            }
        }        
    }
    /* スキルテーブル */
    .sec03_skill {
        margin-top: 600px;
        @media (width < 800px){
            margin-top: 900px;
        }
        @media (width < 700px) {
            margin-top: 920px;
        }
        @media (width < 545px) {
            margin-top: 40px;
        }
        .skill_box {
            width: 836px;
            margin: 0 auto 134px;
            padding: 4%;
            background-color: #CBFFE7;
            border-radius: 16% 24% 10% 10%;
            @include mq(lg){
                width: 90%;
                margin: 0 auto 40px;
                border-radius: 20px;
            }
            .skill_title {
                font-size: 24px;
                font-family: $mont;
                text-align: center;
                margin-bottom: 30px;
            }
            .skill_table {
                width: 100%;
                font-size: 18px;
                font-weight: normal;
                border-spacing: 30px 0;
                border-collapse: separate;
                @media (width < 1000px){
                    width: 100%;
                }
                @include mq(md) {
                    border-spacing: 15px 0;
                }
                tbody{
                    tr {
                        height: 70px;
                        .skill_name {
                            width: 17%;
                            height: 65px;
                            @media (width < 768px){
                                display: inline-block;
                                width: 32%;
                                height: 35px;   
                            }
                        }
                        .skill_per {
                            width: 8%;
                            height: 65px;
                            @media (width < 768px){
                                display: inline-block;
                                width: 65%;  
                                height: 35px; 
                            }
                        }
                        .skill_graph {
                            width: 100%;
                            height: 65px;
                            @media (width < 768px){
                                display: block;
                                width: 100%;
                                height: 48px; 
                            }
                            .white {
                                background-color: #fff;
                                height: 36px;
                                width: 100%;
                                border-radius: 50px;
                                .pink {
                                    height: 36px;
                                    border-radius: 50px;
                                    background-color: $c-pink;
                                }
                                .per80 {
                                    animation: per80 linear;
                                    animation-timeline: scroll();
                                    @media (width < 768px){
                                        animation: none;
                                        width: 80%;
                                    }
                                }
                                @keyframes per80 {
                                    0%  {width: 0;}
                                    40% {width: 10%;}
                                    60% {width: 80%;}
                                    100%{width: 80%;}
                                }
                                
                                .per40 {
                                    animation: per40 linear;
                                    animation-timeline: scroll();  
                                    @media (width < 768px){
                                        animation: none;
                                        width: 40%;
                                    }
                                }
                                @keyframes per40 {
                                    0%  {width: 0;}
                                    40% {width: 10%;}
                                    60% {width: 40%;}
                                    100%{width: 40%;}
                                }
                                .per20 {
                                    animation: per20 linear;
                                    animation-timeline: scroll();  
                                    @media (width < 768px){
                                        animation: none;
                                        width: 20%;
                                    }
                                }
                                @keyframes per20{
                                    0%  {width: 0;}
                                    40% {width: 5%;}
                                    60% {width: 20%;}
                                    100%{width: 20%;}
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .sec04_sns{
        .to_contact_button {
            margin-top: 70px;
        }
    }
}