@use "../globals/index" as *;

/* mv */
.mv {
    position: relative;
    width: 100vw;
    height: 100vh;
    & img {
        width: 150px;
        @include mq(md) {
            width: 100px;
        }
    } 
    .mv1 {
        position: absolute;
        top: 5%;
        left: 15%;
        animation: 
        mv_move 2s ease-in-out,
        opacity 2s ease-in-out;
    }
    @keyframes mv_move {
        0%{top: 2%;}
        100%{top:5%;}
    }
    @keyframes opacity {
        0% {opacity: 0;}
        50% {opacity: 0.4;}
        100% {opacity: 1;}
    }
    .mv2 {
        position: absolute;
        top: 5%;
        right: 15%;
        animation: 
        mv_move 2s ease-in-out,
        opacity 2s ease-in-out;
    }
    .mv3 {
        position: absolute;
        top: 35%;
        left: 0%;
        animation:
        mv_move_second 2s ease-in-out,
        opacity 2s ease-in-out;
        @include mq(md) {
            display: none;
        }
    }
    .mv4 {
        position: absolute;
        top: 35%;
        right: 0%;
        animation: 
        mv_move_second 2s ease-in-out,
        opacity 2s ease-in-out;
        @include mq(md) {
            display: none;
        }
    }
    @keyframes mv_move_second {
        0%{top: 37%;}
        100%{top: 35%;}
    }
    .mv5 {
        position: absolute;
        top: 65%;
        left: 15%;
        animation: 
        mv_move_third 2s ease-in-out,
        opacity 2s ease-in-out;
    } 
    .mv6 {
        position: absolute;
        top: 65%;
        right: 12%;
        animation: 
        mv_move_third 2s ease-in-out,
        opacity 2s ease-in-out;
    }
    @keyframes mv_move_third {
        0%{top: 62%;}
        100%{top: 65%;}
    }
}
.txt {
    font-family: $mont;
    font-size: clamp(1.5rem, 1.213rem + 1.43vw, 2.5rem); /* 20px 40px */
    position: absolute;
    top: 33%;
    left: 50%;
    transform: translate(-50%);
}

// MVの文字が一文字づつ表示する
.line {
    display: block;
}
.txtInner {
    animation-name: show;
    animation-duration: 0.2s;
    animation-fill-mode: backwards;
}
@keyframes show {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}

/* スクロールダウン */
.scrolldown {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    & span {
        position: absolute;
        width: 1rem;
        height: 3rem;
        left: 10px;
        bottom: 0;
        font-size: 0.7rem;
        letter-spacing: 0.08rem;
        font-family: $mont;
        -ms-writing-mode: tb-rl;
        -webkit-writing-mode: vertical-rl;
        writing-mode: vertical-rl;
    }
    /* 丸 */
    &:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: -4px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: $c-pink;
        animation: 
        circlemove 1.8s ease-in-out infinite,
        circlemovehide 1.8s ease-in-out infinite;
    }
    
    @keyframes circlemove {
        0% { bottom: 55px;}
        100% {bottom: -5px;}
    }
    @keyframes circlemovehide {
        0% {opacity: 0;}
        50% {opacity: 1;}
        80% {opacity: 0.9;}
        100% {opacity: 0;}
    }
    /* 縦棒 */
    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 2px;
        height: 60px;
        background: $c-pink;
    }
}
    

#home {
    &.main {
        .sec01_about {
            text-align: center;
            & .container {
                clip-path: inset(0 0 50% 0);
                width: 100%;
                aspect-ratio: 2 / 1;
                z-index: 10;
                position: relative;
                @include mq(lg) {
                    // clip-path: inset(50% 0);
                    display: none;
                }
            }
            & .section_title_box {
                margin-top: -400px;
                @media (width < 840px){
                    margin-top: -300px;
                }
                @media (width < 620px){
                    margin-top: -250px;
                }
                @media (width < 530px){
                    margin-top: -200px;
                }
                @include mq(sm){
                    margin-top: -20px;
                }
            }
            .about_wrapper {
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                .catch_phrase_wrapper {
                    margin-top: 80px;
                    position: relative;
                    height: 397px;
                    width: 797px;
                    background-color: #FCFDD8;
                    border-radius: 47% 53% 55% 45% / 46% 32% 68% 54%;
                    @include mq(lg){
                        width: 70%;
                    }
                    @include mq(md){
                        width: 85%;
                        margin-top: 30px;
                    }
                    & .catch_phrase {
                        width: 420px;
                        height: 592px;
                        font-family: $yomogi;
                        font-size: 30px;
                        color: #2E1000;
                        -webkit-text-stroke: 2px #2E1000;
                        text-stroke: 2px #2E1000;  /* 文字の縁取り */
                        position: absolute;
                        top: 80px;
                        left: 50%;
                        transform: translateX(-50%);
                        @include mq(md){
                            font-size: 24px;
                        }
                        & .catch_phrase_dot {
                            font-size: 35.82px;
                            color: #9F3A04;
                            -webkit-text-stroke: 3px #9F3A04;
                            text-stroke: 3px #9F3A04;  /* 文字の縁取り */
                            /* 文字上のドットの設定 */
                            background-image: radial-gradient(circle at center, #9F3A04 20%, transparent 20%); /* 点の色とサイズ調整 */
                            background-position: top right; /* 点の位置 */
                            background-repeat: repeat-x; /* 横方向に繰り返し */
                            background-size: 1em 0.3em; /* 点の間隔とサイズ調整 */
                            padding-top: 0.03em; /* 縦方向の位置調整 */
                            @include mq(md){
                                font-size: 26px;
                            }
                            .catch_phrase_brown {
                                font-size: 38px;
                                color: #9F3A04;
                                -webkit-text-stroke: 3px #9F3A04;
                                text-stroke: 3px #9F3A04;  /* 文字の縁取り */
                                @include mq(md){
                                    font-size: 24px;
                                }
                            }
                        }
                    }
                }
                .about_me_wrapper {
                    position: absolute;
                    top: 234px;
                    left: 40%;
                    width: 725px;
                    height: 450px;
                    border-radius: 63% 37% 72% 28% / 51% 59% 41% 49%;
                    background-color: #CCEAC7;
                    @include mq(xl){
                        width: 60%;
                    }
                    @include mq(lg){
                        left: 30%;
                        width: 50%;
                        height: 460px;
                    }
                    @media (width < 838px){
                        left: 30%;
                        width: 70%;
                    }
                    @include mq(md){
                        top: 170px;
                    }
                    @media (width < 640px){
                        left: 10%;
                    }
                    @media (width < 528px){
                        width: 90%;
                        left: 3%;
                    }
                    @include mq(sm){
                        height: 480px;
                        width: 100%;
                    }
                    .about_me {
                        position: absolute;
                        left: 145px;
                        top: 63px;
                        width: 60%;
                        text-align: left;
                        @include mq(lg){
                            left: 25%;
                        }
                        @media (width < 838px){
                            left: 20%;
                            top: 100px;
                        }
                        .name {
                            font-size: 24px;
                            font-weight: bold;
                            font-family: $zenmaru;
                            margin-bottom: 20px;
                        }
                        .about_me_text {
                            font-family: $zenkaku;
                            font-size: 18px;
                            line-height: 150%;
                            @media (width < 1215px){
                                width: 100%;
                            }
                            @media (width < 528px){
                                width: 110%;
                            }
                        }
                    }
                }
                .about_me_img_wrapper {
                    position: absolute;
                    top: 235px;
                    left: 29%;
                    width: 325px;
                    height: 355px;
                    border-radius: 39% 61% 52% 48% / 40% 45% 55% 60% ;
                    background-image: url(/assets/images/karattosawayaka.webp);
                    background-position: 50% 13%;
                    background-size: 110%;
                    @media (width < 1625px){
                        left: 18%;
                    }
                    @include mq(lg){
                        width: 200px;
                        height: 220px;
                    }
                    @include mq(md){
                        left: 14%;
                        top: 170px;
                    }
                    @media (width < 670px){
                        left: 10%;
                    }
                    @media (width < 640px){
                        left: 65%;
                    }
                    @media (width < 566px){
                        width: 150px;
                        height: 150px;
                    }
                }
            }
        }
        /* sec02 can */
        .sec02_can {
            margin-top: 60px;
            text-align: center;
            margin-bottom: 50px;
            overflow: hidden;
            & .container {
                clip-path: inset(0 0 50% 0);
                width: 100%;
                aspect-ratio: 2 / 1;
                z-index: 10;
                position: relative;
                // display: flex; /* 子要素を横並びにする */
                // overflow-x: auto; /* 横スクロールを有効にする */
                // white-space: nowrap; /* 子要素を改行させない */
                @include mq(lg) {
                    // clip-path: inset(50% 0);
                    display: none;
                }
            }
            .section_title_box {
                margin-top: -375px;
                @media (width < 840px){
                    margin-top: -300px;
                }
                @media (width < 620px){
                    margin-top: -250px;
                }
                @media (width < 530px){
                    margin-top: -200px;
                }
                @media (width < 430px){
                    margin-top: -10px;
                }
                .section_title {
                    letter-spacing: .2em;
                }
            }
        }


        /* スライド */
        /* 横スクロール */
        /* 共通 */
        /* https://qiita.com/k_watanabe_51/items/0d21d6560c10163a130f */
        /* 横スクロールセクション */
        .side-scroll {  
            .wrapper {
                overflow: hidden;
                position: relative;
                height: 100vh;
            }
            
            .container {
                position: absolute;
                top: 0;
                left: 0;
                display: flex;
                align-items: center;
                height: 100%;
            }
            
            .section {
                flex-shrink: 0;
                display: flex;
                align-items: center;
                width: 110vw;
                height: 100%;
                background-color: $bg-color;
                @media screen and (min-height: 700px) {
                    width: 1200px;
                }
            }
            
            .inner {
                width: 100%;
                height: 80%;
                padding: 60px;
                @media screen and (min-height: 700px) {
                    padding: 100px;
                }
                .side-scroll_item01 {
                    width: 80%;
                    height: 100%;
                    border-radius: 30% 70% 51% 49% / 43% 30% 70% 57%;
                    background-color: #F5E1E1;
                    @include mq(md) {
                        width: 100%;
                    }
                }
                .side-scroll_item02 {
                    width: 100%;
                    height: 90%;
                    border-radius: 51% 49% 51% 49% / 37% 67% 33% 63%;
                    background-color: #FCFDD8;
                    @include mq(md) {
                        width: 120%;
                    }
                }
                .side-scroll_item03 {
                    width: 90%;
                    height: 100%;
                    border-radius: 51% 49% 68% 32% / 48% 43% 57% 52%;
                    background-color: #CCEAC7;
                    @include mq(md) {
                        width: 100%;
                    }
                }
                .side-scroll_item04 {
                    width: 100%;
                    height: 100%;
                    border-radius: 30% 70% 51% 49% / 43% 30% 70% 57%;
                    background-color: #E3DFF6;
                    @include mq(md) {
                        width: 120%;
                    }
                }
                .side-scroll_item05 {
                    width: 90%;
                    height: 95%;
                    border-radius: 27% 73% 49% 51% / 48% 30% 70% 52%;
                    background-color: #F8CFCF;
                    @include mq(md) {
                        width: 120%;
                    }
                }
                .item_box {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    gap: 30px;
                    padding: 10%;
                    @include mq(md) {
                        flex-direction: column;
                        justify-content: center;
                        padding: 5%;
                        border-radius: 30px;
                        gap: 15px;
                        height: 450px;
                    }
                    .item_left {
                        width: 47%;
                        text-align: center;
                        h3 {
                            font-size: 40px;
                            @include mq(md) {
                                font-size: 24px;
                            }
                        }
                        p {
                            font-size: 32px;
                            @include mq(md) {
                                font-size: 18px;
                                flex-grow: 1;
                            }
                        }
                    }
                    .item_right {
                        width: 60%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: baseline;
                        gap: 20px;
                        @include mq(md) {
                            width: 80%;
                        }
                        img {
                            @include mq(md) {
                                width: 100px;
                            }
                        }
                        p {
                            text-align: left;
                            font-size: 16px;
                            @include mq(md) {
                                width: 80%;
                            }
                        }
                    }
                }
            }
        }
        
        /* sec04_works */
        .sec04_works {
            text-align: center;
            overflow: hidden;
            position: relative;
            & .container {
                overflow: hidden;
                clip-path: inset(0 0 50% 0);
                width: 100%;
                aspect-ratio: 2 / 1;
                z-index: 10;
                position: relative;
                @include mq(lg) {
                    // clip-path: inset(50% 0);
                    display: none;
                    
                }
            }
            & .section_title_box {
                // position: absolute;
                // top: 250px;
                // left: 50%;
                // transform: translateX(-50%);
                margin-top: 20px;
            }
            & .section_subtitle_box {
                // position: absolute;
                // top: 330px;
                // left: 50%;
                // transform: translateX(-50%);
                margin-bottom: 50px;
                @include mq(md) {
                    top: 290px;
                }
            }
            & .sec04_flex_box {
                z-index: 999999;
                width: 80%;
                margin: -90px auto 0;
                display: flex;
                flex-wrap: wrap;
                gap: 20px;
                align-items: center;
                justify-content: center;
                @include mq(md) {
                    margin-top: 0;
                    gap: 10px;
                }
                .work_link {
                    width: 32%;
                    @include mq(md) {
                        width: 100%;
                    }
                }
            }
            .to_works_more_button {
                margin-top: 100px;
                @media (width < 768px) {
                    margin-top: 45px;
                    width: 80%;
                }
            }
        }
        
        
        /* sec05_contact */
        .sec05_contact {
            text-align: center;
            .container {
                clip-path: inset(0 0 50% 0);
                width: 100%;
                aspect-ratio: 2 / 1;
                z-index: 10;
                position: relative;
                @include mq(lg) {
                    // clip-path: inset(50% 0);
                    display: none;
                }
            }
            .section_title_box {
                margin-top: -375px;
                @media (width < 840px){
                    margin-top: -300px;
                }
                @media (width < 620px){
                    margin-top: -250px;
                }
                @media (width < 530px){
                    margin-top: -200px;
                }
                @media (width < 430px){
                    margin-top: -20px;
                }
            }
            .parent{
                margin-top: 70px;
                position: relative;
                display: inline-block;
                &::before {
                    position: absolute;
                    left: -2em;
                    top: 0;
                    content: '';
                    width: 2px;
                    height: 100%;
                    background-color: #000;
                    border-radius: 3px;
                    transform: rotate(-30deg);
                }
                &::after {
                    position: absolute;
                    right: -2em;
                    top: 0;
                    content: '';
                    width: 2px;
                    height: 100%;
                    background-color: #000;
                    border-radius: 3px;
                    transform: rotate(30deg);
                }
            }
            .to_contact_button {
                margin-top: 20px;
                @media (width < 768px){
                    width: 80%;
                }
            }
        }
    }
}
