@use "../globals/index" as *;

#privacy {
    .sec01_title {
        text-align: center;
        margin-bottom: 30px;
    }
    .sec02_text {
        width: 80%;
        margin: 0 auto;
    }
}