@use "../globals/index" as *;


#works {
    .sec01_about {
        & .container {
            clip-path: inset(0 0 50% 0);
            width: 100%;
            aspect-ratio: 2 / 1;
            z-index: 10;
            position: relative;
            @include mq(lg) {
                clip-path: inset(50% 0);
            }
        }
        .section_title_box {
            text-align: center;
            margin-top: -375px;
            @media (width < 840px){
                margin-top: -300px;
            }
            @media (width < 620px){
                margin-top: -250px;
            }
            @media (width < 530px){
                margin-top: -200px;
            }
            @media (width < 430px){
                margin-top: -150px;
            }
        }
        .section_subtitle_box {
            text-align: center;
        }
    }
    .sec02_works_links {
        margin-top: 70px;
        .works_links_wrapper {
            width: 90%;
            margin: 0 auto 80px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
            gap: 40px 20px;
            .work_link_box {
                .link_title {
                    margin-bottom: 15px;
                    font-weight: 500;
                }
                .works_link {
                    display: block;
                    position: relative;
                    border-radius: 20px;
                    width: 300px;
                    margin-bottom: 10px;
                    .link_img {
                        display: block;
                        width: 100%;
                        border-radius: 20px;
                    }
                    /* https://blog.raizzenet.com/mouse-hover-caption-effects-in-css/#i-sample2 */
                    .mask {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top:  0;
                        left: 0;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: center;
                        opacity: 0;	/* マスクを表示しない */
                        background:	linear-gradient(#FCFDD8, #E8B3B3);
                        border-radius: 20px;
                        -webkit-transition:	all 0.6s ease;
                        transition:	all 0.6s ease;
                    }
                }
                &:hover .mask {
                    opacity: 0.9;	/* マスクを表示する */
                    padding-top: 10px;	/* ホバーで下にずらす */
                    .caption {
                        font-size: 130%;
                    }
                }
                .go_to_page_flex {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    gap: 5px;
                    .to_introduce,
                    .to_site {
                        width: 50%;
                        font-size: 15px;
                        text-align: center;
                        display: block;
                        padding: 5px;
                        background-color: #FCFDD8;
                        border: 1px solid $font-color;
                        border-radius: 20px;
                    }
                }
                .go_to_page_center {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .to_site {
                        width: 80%;
                        font-size: 15px;
                        text-align: center;
                        display: block;
                        padding: 5px;
                        background-color: #FCFDD8;
                        border: 1px solid $font-color;
                        border-radius: 20px;
                    }
                }
            }
        }
        
    }
    .to_contact_button {
        margin-top: 70px;
    }
}