$cWhite:#ffffff;
$cBlack: #4c4948;
$cBlack1: #333333;
$cBlack2: #555555;
$cGray: #C7C7C7;

$cPurple: #C27AB0;
$cPink1: #D76B9F;
$cPink2: #EF5F83;
$cOrange1: #F76072;
$cOrange2: #FE6F57;
$cYellow: #FDAA30;

$cPink3: #E95F91;
$cRed: #F90000;
$cBg: #F9EEEA;

$cLine: #06C755;

$headerWidth: 1200px;
$headerHeight1: 80px;
$headerHeight1_lg: 60px;
$headerHeight2: 65px;
$headerHeight2_lg: 45px;
$headerHeight_sp: 60px;

$innerWidth: 1100px;
