$c-white:#ffffff;
$c-pink: #F2A6C4;

$font-color: #2E1000;
$bg-color: #F0FFF8;


$zenkaku: "Zen Kaku Gothic New", sans-serif; 
$zenmaru: "Zen Maru Gothic", serif;
$yomogi:  "Yomogi", cursive;
$mont:  "Montserrat", sans-serif;

$innerWidth: 1100px;
